<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/research.css">
</head>
<body>
    <div class="container research-product-description">
        <div class="row">
            <div class="col-lg-6 col-sm-12 research-justifycontent">
                <h1 class="research-product-name">NEURON FOCUS</h1>
                <h4 class="research-general-features">Energía</h2>
                <h4 class="research-general-features">Concentración</h2>
                <h4 class="research-general-features">Claridad mental y relajación</h2>
                <br>
                <h4 class="research-general-features">Los compuestos de este producto buscan ayudar a:</h2>
                <div class="research-secondary-features">
                    <ul>
                        <li><p>Facilita la atención</p></li>
                        <li><p>Elimina la niebla mental</p></li>
                        <li><p>Estimula una Máxima concentración</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="research-product-image">
                    <img src="/images/productos/botellas/NeuronFocus.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <!-- Research product description -->
    <div class="container research-product-ingredients">
        <div class="row">
            <div class="col-lg-6 col-sm-12 research-justifycontent">
                <h4 class="research-ingredients">Nuestros ingredientes:</h2>
                <div class="research-ingredients-list">
                    <ul>
                        <li><p>Extracto de guaraná</p></li>
                        <li><p>L-Tirosina</p></li>
                        <li><p>Extracto de té verde (L- teanina)</p></li>
                        <li><p>Extracto de té matcha</p></li>
                        <li><p>Colina bitartrato</p></li>
                        <li><p>Extracto de yerba mate</p></li>
                        <li><p>Extracto de cacao</p></li>
                        <li><p>Extracto de nuez de cola</p></li>
                        <li><p>Cafeína anhidra</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="research-product-nutricional-info">
                    <img src="/images/productos/etiqueta/NeuronFocus.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <!-- research-ingredients-description -->
    <div class="container research-ingredients-description">
        <div class="row">
            <div class="col-12 research-product-ingredient-name">
                <h1>Extracto de guaraná</h1>
            </div>
            <div class="col-lg-12 col-sm-12 research-ingredients-info">
                <p class="research-ingredients-text">Es un suplemento botánico que contiene cafeína como mayor constituyente.</p>
                <p class="research-ingredients-subtitle">Procedencia:</p>
                <p class="research-ingredients-text">Se extrae de un arbusto en Venezuela y Brasil.</p>
                <p class="research-ingredients-subtitle">Beneficios:</p>
                <p class="research-ingredients-text">Históricamente se ha usado para curar dolores de cabeza, fiebre y como afrodisíaco, además para prevenir la malaria y disentería.
                    Las semillas de guaraná contienen aproximadamente 4 veces la cantidad de cafeína de un grano de café. La cafeína es un estimulante directo suave en todos los niveles del SNC y también estimula el corazón y el sistema cardiovascular.
                    Se indica para disminuir la fatiga, obesidad y somnolencia
                </p>
                <p class="research-ingredients-subtitle">¿Cómo funciona?</p>
                <p class="research-ingredients-text">Aunque se desconoce el mecanismo exacto de acción de la guaraná, la mayoría de sus efectos se atribuyen a su alto contenido en cafeína. La pasta de semillas contiene 3 a 8% de cafeína. La xantina relacionada, la teofilina, comparte estas propiedades. Tanto la cafeína como la teofilina son estimulantes del SNC, y la teofilina ejerce efectos más dramáticos que la cafeína en concentraciones más altas.
                    Las xantinas estimulan el centro respiratorio medular y relajan el músculo liso bronquial. La cafeína estimula la secreción voluntaria de ácido gástrico y muscular, aumenta el flujo sanguíneo renal y es un diurético suave.
                    Otros componentes de la guaraná además de la cafeína, como las saponinas y las taninas, proporcionan efectos estimulantes adicionales.
                    Al decirse que la cafeína es supresora del apetito, se ocupa la guaraná como suplemento para bajar de peso. Se dice que la guaraná también incrementa la tasa metabólica basal, aumentando la termogénesis y lipólisis.
                    Hay estudios que dicen que tiene efecto antiplaquetario. También está asociado con la inhibición de la síntesis de tromboxano.
                    Estudios dicen que tiene una propiedad antioxidante y modificaciones en atributos sensoriales, pudiendo ser un ingrediente primordial en el futuro.
                </p>
                <p class="research-ingredients-subtitle">Contraindicaciones:</p>
                <p class="research-ingredients-text">La guaraná no ha sido evaluada por la Administración de Alimentos y Medicamentos. Los productos que contienen guaraná no están destinados a diagnosticar, tratar, curar o prevenir ninguna enfermedad. También se debe informar a los consumidores que no se requieren estándares rígidos de control de calidad para los nutracéuticos y que puede ocurrir una variabilidad sustancial tanto en la potencia como en la pureza de estos productos.
                    No se recomienda el uso de guaraná en niños o adolescentes debido a la falta de datos que respaldan su seguridad y eficacia en estos grupos de edad.
                    Debido a que se desconoce, aunque se espera que sea alto, el contenido de cafeína, el uso de guaraná está contraindicado durante el embarazo. La cafeína atraviesa fácilmente la placenta; Las concentraciones en sangre y tejido fetales se aproximan a las concentraciones maternas.
                    Los efectos de la guaraná se deben principalmente al componente activo, la cafeína. La cafeína es un estimulante del sistema nervioso central y, por lo tanto, la guaraná debe usarse con precaución en pacientes con trastornos de ansiedad y / o trastorno de pánico porque puede agravar estas afecciones.
                    Los pacientes que sufren de insomnio no deben consumir guaraná, especialmente dentro de las 6 horas antes de acostarse porque puede agravar el insomnio. En sobredosis, la cafeína se ha asociado con convulsiones, por lo que se debe evitar la guaraná en pacientes con un trastorno convulsivo.
                    Debido a la presencia de cafeína y otros xantenos, la guaraná debe usarse con precaución en pacientes con enfermedades cardíacas.
                </p>
                <p class="research-ingredients-subtitle">Efectos adversos:</p>
                <p class="research-ingredients-text">
                </p>
                <p class="research-ingredients-subtitle">Estudios clinicos:</p>
                <ul class="research-studies-list">
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Guía ClinicalKey, ficha de medicamento Guaraná, última revisión 2019.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Roggia, I., Dalcin, A. J. F., Ourique, A. F., da Cruz, I. B. M., Ribeiro, E. E., Mitjans, M., Vinardell, M. P., & Gomes, P. (2020). Protective effect of guarana-loaded liposomes on hemolytic activity. Colloids and Surfaces B: Biointerfaces, 187(November 2019), 110636. </p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Munekata, P. E. S., Rocchetti, G., Pateiro, M., Lucini, L., Domínguez, R., & Lorenzo, J. M. (2020). Addition of plant extracts to meat and meat products to extend shelf-life and health-promoting attributes: an overview. Current Opinion in Food Science, 31, 81–87. https://doi.org/10.1016/j.cofs.2020.03.003</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Moustakas D, Mezzio M, Rodriguez BR, Constable MA, Mulligan ME, Voura EB. Guarana provides additional stimulation over caffeine alone in the planarian model. PLoS One. 2015;10(4):e0123310. Published 2015 Apr 16. doi:10.1371/journal.pone.0123310</p></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <div class="container research-ingredients-description">
        <div class="row">
            <div class="col-12 research-product-ingredient-name">
                <h1>L- tirosina</h1>
            </div>
            <div class="col-lg-12 col-sm-12 research-ingredients-info">
                <p class="research-ingredients-text">Es un aminoácido esencial que se puede encontrar en ciertos alimentos como carne, pescado, huevos, lácteos, nueces, avena y trigo.</p>
                <p class="research-ingredients-subtitle">Procedencia:</p>
                <p class="research-ingredients-text">La tirosina es un aminoácido que se produce naturalmente en el cuerpo a partir de otro aminoácido llamado fenilalanina.</p>
                <p class="research-ingredients-subtitle">Beneficios:</p>
                <p class="research-ingredients-text">Reduciría el estrés durante la exposición a estresores agudos que agotarían la noradrenalina. También se dice que puede ayudar para prevenir los déficits de memoria inducidos por el estrés.</p>
                <p class="research-ingredients-subtitle">¿Cómo funciona?</p>
                <p class="research-ingredients-text">Produce importantes sustancias químicas cerebrales que ayudan a las células nerviosas a comunicarse e incluso pueden regular el estado de ánimo.
                    Es crucial para la formación de dopamina, norepinefrina y epinefrina, neurotransmisores esenciales para el buen funcionamiento de nuestro cuerpo.
                    Cuando los sujetos sanos están expuestos a factores estresantes externos o situaciones cognitivamente exigentes, los niveles de catecolaminas en el cerebro disminuyen y el rendimiento en tareas cognitivas disminuye en consecuencia. Sin embargo, la suplementación con TYR parece reponer los niveles de neurotransmisores en el cerebro y revertir la degradación inducida por el estrés de una variedad de funciones cognitivas.
                    Los estudios cognitivos que emplean medidas neuropsicológicas encontraron que la carga de tirosina contrarresta de manera aguda las disminuciones en la memoria de trabajo y el procesamiento de la información que son inducidas por condiciones situacionales exigentes como el clima extremo o la carga cognitiva. Los efectos amortiguadores de la tirosina sobre la cognición pueden explicarse por la capacidad de la tirosina para neutralizar los niveles de catecolaminas del cerebro agotados.
                </p>
                <p class="research-ingredients-subtitle">Contraindicaciones:</p>
                <p class="research-ingredients-text">La tirosina es "generalmente reconocida como segura" (GRAS) por la Administración de Alimentos y Medicamentos.
                    Se debe tener precaución con personas que consumen inhibidores de la monoamina oxidasa (MAOIs) ya que podrían elevar las cantidades de tirosina en el cuerpo de manera peligrosa.
                    Pacientes que están sometidos a terapias hormonales tiroideas pueden verse afectados, por lo tanto, se recomienda consultar antes de consumir tirosina.
                    Pacientes que consumen Levodopa (medicamento contra el Alzheimer) deben tener en cuenta que la tirosina puede disminuir la absorción de ese medicamento, por tanto, deben tomarse con horas de diferencia para evitar este efecto.
                </p>
                <p class="research-ingredients-subtitle">Efectos adversos:</p>
                <p class="research-ingredients-text">En general, es seguro, sin embargo, los estudios que utilizan dosis altas han observado un aumento de la frecuencia cardíaca, la presión arterial y un empeoramiento de los síntomas de la esquizofrenia en los pacientes.
                    Si usa dosis más altas y encuentra problemas digestivos, esto puede dividirse en dos dosis separadas por media hora (30 y 60 minutos antes del estrés agudo).
                    Se ha demostrado que complementar con él es seguro, incluso en dosis altas, pero tiene el potencial de interactuar con ciertos medicamentos, lo que requiere precaución.
                </p>
                <p class="research-ingredients-subtitle">Estudios clinicos:</p>
                <ul class="research-studies-list">
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Jongkees, B. J., Hommel, B., Kühn, S., & Colzato, L. S. (2015). Effect of tyrosine supplementation on clinical and healthy populations under stress or cognitive demands-A review. Journal of Psychiatric Research, 70(2015), 50–57. https://doi.org/10.1016/j.jpsychires.2015.08.014</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Hase A, Jung SE, aan het Rot M. Behavioral and cognitive effects of tyrosine intake in healthy human adults. Pharmacol Biochem Behav. 2015;133:1-6. doi:10.1016/j.pbb.2015.03.008</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Ennis, M., Lim, K., Ball, R., Pencharz, P., Courtney-Martin, G., & Elango, R. (2020). Dietary Phenylalanine and Tyrosine Requirements in Healthy Human Pregnancy. Current Developments in Nutrition, 4(Supplement_2), 978–978.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Young SN. L-tyrosine to alleviate the effects of stress?. J Psychiatry Neurosci. 2007;32(3):224.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>DiFrancisco‐Donoghue, J., Rabin, E., Lamberg, E.M. and Werner, W.G. (2014), Effects of Tyrosine on Parkinson's Disease: A Randomized, Double‐Blind, Placebo‐Controlled Trial. Mov Disord Clin Pract, 1: 348-353. doi:10.1002/mdc3.12082</p></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <div class="container research-ingredients-description">
        <div class="row">
            <div class="col-12 research-product-ingredient-name">
                <h1>L- teanina</h1>
            </div>
            <div class="col-lg-12 col-sm-12 research-ingredients-info">
                <p class="research-ingredients-text">Es un aminoácido único no proteico que se encuentra naturalmente en las plantas de té verde y se considera un suplemento multifacético.</p>
                <p class="research-ingredients-subtitle">Procedencia:</p>
                <p class="research-ingredients-text">Se encuentra más comúnmente en las hojas de té y en pequeñas cantidades en los hongos Bay Bolete. Se puede encontrar tanto en el té verde como en el negro.</p>
                <p class="research-ingredients-subtitle">Beneficios:</p>
                <p class="research-ingredients-text">Ha recibido una atención creciente en los últimos años debido a sus efectos beneficiosos sobre el sistema nervioso central.
                    En general, varios estudios han demostrado que la administración de L-teanina mejoró los resultados de ansiedad y estrés, junto con mejoras en otras manifestaciones como la depresión y los síntomas psicopatológicos.
                    Estudios dicen que L-Teanina induce la relajación y podría reducir la presión sanguínea.
                    Otros estudios mencionan que puede ser beneficiosa para un buen dormir.
                </p>
                <p class="research-ingredients-subtitle">¿Cómo funciona?</p>
                <p class="research-ingredients-text">La ingesta de té verde en general y de L-teanina, en particular, tiene muchas funciones fisiológicas, neurológicas y biológicas promotoras de la salud, pero el mecanismo inmóvil detrás de estas propiedades en diferentes especies no se conoce del todo.
                    Se demostró que la teanina aumenta los niveles de factor neurotrófico derivado del cerebro y estimula la neurogénesis. Los efectos antiestrés y calmantes de la teanina son los más evidentes y mejor estudiados.
                    Varios estudios mostraron efectos neuroprotectores de la teanina después de una lesión cerebral isquémica o la exposición a productos químicos tóxicos. También mejoró la función cognitiva, incluida la atención, la memoria y el aprendizaje. Estudios recientes demostraron un papel prometedor de la teanina en la terapia de aumento para el trastorno depresivo mayor y la esquizofrenia.
                    L-teanina puede tener el potencial de bajar la presión arterial, posiblemente indirectamente a través de la reducción de las manifestaciones asociadas con el estrés, inhibiendo la excitación neural cortical y, en consecuencia, atenuando actividad comprensiva.
                    La teanina es un candidato prometedor para regular la homeostasis vascular y en el tratamiento de enfermedades vasculares con lesiones.
                    En general, se sugiere que la ingesta de 200 mg de L-teanina a la hora de acostarse puede mejorar la calidad del sueño por ansiolisis en lugar de sedación, como el tratamiento farmacológico convencional para el insomnio.
                </p>
                <p class="research-ingredients-subtitle">Contraindicaciones:</p>
                <p class="research-ingredients-text">Aunque algunas investigaciones muestran resultados prometedores para las propiedades antitumorales de la L-teanina, los tés que contienen aminoácidos pueden tener otros ingredientes que podrían ser dañinos para las personas con cáncer.
                    Al igual que beber demasiado café y otras bebidas con cafeína, beber grandes cantidades de tés con cafeína también puede causar problemas, como náuseas, dolor de estómago e irritabilidad.
                    Las mujeres embarazadas o en período de lactancia también deben limitar la cantidad de té que beben para evitar el exceso de cafeína. Es mejor preguntarle a su médico qué es seguro para usted. El mismo consejo se aplica también a los niños.
                </p>
                <p class="research-ingredients-subtitle">Efectos adversos:</p>
                <p class="research-ingredients-text">No hay efectos secundarios directos o confirmados por tomar L-teanina. En términos generales, es seguro tomar el suplemento y beber tés que contienen L-teanina.
                    No ha habido informes de sobredosis o efectos secundarios por tomar L-teanina, y beber té es generalmente seguro para la mayoría de las personas.
                    Pero seguir las pautas generales de consumo de cafeína puede ser útil si está tomando té. Para aquellos que toman un suplemento de L-teanina, es mejor consultar a su médico para obtener orientación sobre la dosis.
                </p>
                <p class="research-ingredients-subtitle">Estudios clinicos:</p>
                <ul class="research-studies-list">
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Katasonov AB. Neĭrobiologicheskie éffekty teanina i ego vozmozhnoe ispol'zovanie v nevrologii i psikhiatrii [Neurobiological effects of theanine and its possible use in neurology and psychiatry]. Zh Nevrol Psikhiatr Im S S Korsakova. 2018;118(11):118-124. doi:10.17116/jnevro2018118111118</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Lopes Sakamoto F, Metzker Pereira Ribeiro R, Amador Bueno A, Oliveira Santos H. Psychotropic effects of L-theanine and its clinical properties: From the management of anxiety and stress to a potential use in schizophrenia. Pharmacol Res. 2019;147:104395. doi:10.1016/j.phrs.2019.104395</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Bi, A., Hang, Q., Huang, Y., Zheng, S., Bi, X., Zhang, Z., … Luo, L. (2020). L-Theanine attenuates neointimal hyperplasia via suppression of vascular smooth muscle cell phenotypic modulation. Journal of Nutritional Biochemistry, 82, 108398. https://doi.org/10.1016/j.jnutbio.2020.108398</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Saeed, M., Naveed, M., Arif, M., Kakar, M. U., Manzoor, R., Abd El-Hack, M. E., Alagawany, M., Tiwari, R., Khandia, R., Munjal, A., Karthik, K., Dhama, K., Iqbal, H. M. N., Dadar, M., & Sun, C. (2017). Green tea (Camellia sinensis) and L-theanine: Medicinal values and beneficial applications in humans—A comprehensive review. Biomedicine and Pharmacotherapy, 95(July 2017), 1260–1275. https://doi.org/10.1016/j.biopha.2017.09.024</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Theanine—monograph. Altern Med Rev 2005; 10: pp. 136-138</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Kakuda T. Neuroprotective effects of theanine and its preventive effects on cognitive dysfunction. Pharmacol Res. 2011;64(2):162-168. doi:10.1016/j.phrs.2011.03.010</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Williams, J., Kellett, J., Roach, P., McKune, A., Mellor, D., Thomas, J., & Naumovski, N. (2016). l-Theanine as a Functional Food Additive: Its Role in Disease Prevention and Health Promotion. Beverages, 2(2), 13. https://doi.org/10.3390/beverages2020013</p></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <div class="container research-ingredients-description">
        <div class="row">
            <div class="col-12 research-product-ingredient-name">
                <h1>Té matcha</h1>
            </div>
            <div class="col-lg-12 col-sm-12 research-ingredients-info">
                <p class="research-ingredients-text">El té matcha es el polvo molido proveniente del cultivo de la planta Camellia sinensis. Se usa en Japón como bebida tradicional, también como suplemento dietario y como ingrediente de snacks.</p>
                <p class="research-ingredients-subtitle">Procedencia:</p>
                <p class="research-ingredients-text">Al igual que el té verde, proviene de la planta Camellia sinensis.</p>
                <p class="research-ingredients-subtitle">Beneficios:</p>
                <p class="research-ingredients-text">Se dice que tiene propiedades antioxidantes. Podría mejorar la atención, tiempo de reacción y memoria</p>
                <p class="research-ingredients-subtitle">¿Cómo funciona?</p>
                <p class="research-ingredients-text">Se ha reportado que cada componente tiene distintos beneficios, como supresor de tumores y mejora del ánimo.
                    Se dice que tiene propiedades ansiolíticas mediante la activación de receptores que están involucrados con neurotransmisores que mantienen el ánimo. También hay estudios que demuestran aumentar la actividad locomotora.
                    Estudios dicen que presenta efectos sobre las habilidades de atención, se dice que tiene efectos vasoactivos similares a los de la cafeína.
                    Estudios sugieren que el té matcha consumido en una dosis realista puede inducir efectos leves sobre la velocidad de atención y la memoria secundaria episódica en un grado bajo.
                    Estudios sugieren que el polvo de té matcha ejercería un efecto ansiolítico a través de la activación de los sistemas dopaminérgico y serotoninérgico.
                    Se ha visto que el té matcha podría proveer salud hepática, reduciendo los niveles de enzimas que dañan el hígado.
                    El té matcha contiene L- teanina, que, sí está formulado junto a la cafeína, actúa de manera colaborativa, reduciendo los efectos no deseados de la cafeína. Al tener L- teanina, incrementa la actividad alfa en el cerebro, la que puede inducir relajación y disminuir los niveles de estrés.
                    El extracto de té verde tendría resultados promisorios en la prevención del cáncer. Hay estudios muy recientes que dicen que la catequina epigalocatequina-3-galato (EGCG) sería efectiva en cánceres de pulmón, piel e hígado.
                    Otras propiedades que se mencionan en estudios son la reducción del colesterol LDL (colesterol malo) y disminución de los triglicéridos, lo que contribuiría a una salud cardiovascular óptima.
                    También ha sido investigado para ayudar a la pérdida de peso, se dice que podría aumentar el metabolismo.
                </p>
                <p class="research-ingredients-subtitle">Contraindicaciones:</p>
                <p class="research-ingredients-text">Se debe consultar a un especialista en salud antes de consumir té matcha.</p>
                <p class="research-ingredients-subtitle">Efectos adversos:</p>
                <p class="research-ingredients-text">Si se consume en cantidades que superan el máximo, podrían provocar problemas hepáticos.
                    Se dice también que se debe consumir con moderación ya que puede contener contaminantes como pesticidas, químicos e inclusive arsénico que ha sido encontrado en el suelo donde crecen las plantas de té.
                </p>
                <p class="research-ingredients-subtitle">Estudios clinicos:</p>
                <ul class="research-studies-list">
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Dietz, C., Dekker, M., & Piqueras-Fiszman, B. (2017). An intervention study on the effect of matcha tea, in drink and snack bar formats, on mood and cognitive performance. Food Research International, 99, 72–83. https://doi.org/https://doi.org/10.1016/j.foodres.2017.05.002</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Manteiga R, Park DL, Ali SS. Risks associated with consumption of herbal teas. Rev Environ Contam Toxicol. 1997;150:1-30. doi: 10.1007/978-1-4612-2278-1_1. PMID: 8978213.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>M, Szynal T, Rebeniak M, Wojciechowska-Mazurek M, Starska K, Strzelecka A. Human exposure asseessment to different arsenic species in tea. Rocz Panstw Zakl Hig. 2014;65(4):281-6. PMID: 25526572.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Kurauchi, Y., Devkota, H. P., Hori, K., Nishihara, Y., Hisatsune, A., Seki, T., & Katsuki, H. (2019). Anxiolytic activities of Matcha tea powder, extracts, and fractions in mice: Contribution of dopamine D1 receptor- and serotonin 5-HT1A receptor-mediated mechanisms. Journal of Functional Foods, 59, 301–308. https://doi.org/https://doi.org/10.1016/j.jff.2019.05.046</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Pham-Huy LA, He H, Pham-Huy C. Free radicals, antioxidants in disease and health. Int J Biomed Sci. 2008;4(2):89-96.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Xu P, Ying L, Hong G, Wang Y. The effects of the aqueous extract and residue of Matcha on the antioxidant status and lipid and glucose levels in mice fed a high-fat diet. Food Funct. 2016 Jan;7(1):294-300. doi: 10.1039/c5fo00828j. PMID: 26448271.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Pezeshki A, Safi S, Feizi A, Askari G, Karami F. The Effect of Green Tea Extract Supplementation on Liver Enzymes in Patients with Nonalcoholic Fatty Liver Disease. Int J Prev Med. 2016;7:28. Published 2016 Feb 1. doi:10.4103/2008-7802.173051</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Ide K, Yamada H, Takuma N, Park M, Wakamiya N, Nakase J, Ukawa Y, Sagesaka YM. Green tea consumption affects cognitive dysfunction in the elderly: a pilot study. Nutrients. 2014 Sep 29;6(10):4032-42. doi: 10.3390/nu6104032. PMID: 25268837; PMCID: PMC4210905</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Nobre AC, Rao A, Owen GN. L-theanine, a natural constituent in tea, and its effect on mental state. Asia Pac J Clin Nutr. 2008;17 Suppl 1:167-8. PMID: 18296328</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Hazgui S, Bonnomet A, Nawrocki-Raby B, Milliot M, Terryn C, Cutrona J, Polette M, Birembaut P, Zahm JM. Epigallocatechin-3-gallate (EGCG) inhibits the migratory behavior of tumor bronchial epithelial cells. Respir Res. 2008 Apr 21;9(1):33. doi: 10.1186/1465-9921-9-33. PMID: 18426555; PMCID: PMC2362119.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Wei DZ, Yang JY, Liu JW, Tong WY. Inhibition of liver cancer cell proliferation and migration by a combination of (-)-epigallocatechin-3-gallate and ascorbic acid. J Chemother. 2003 Dec;15(6):591-5. doi: 10.1179/joc.2003.15.6.591. PMID: 14998086.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Mantena SK, Roy AM, Katiyar SK. Epigallocatechin-3-gallate inhibits photocarcinogenesis through inhibition of angiogenic factors and activation of CD8+ T cells in tumors. Photochem Photobiol. 2005 Sep-Oct;81(5):1174-9. doi: 10.1562/2005-04-11-RA-487. Retraction in: Photochem Photobiol. 2018 May;94(3):618. PMID: 15938647.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Zheng XX, Xu YL, Li SH, Liu XX, Hui R, Huang XH. Green tea intake lowers fasting serum total and LDL cholesterol in adults: a meta-analysis of 14 randomized controlled trials. Am J Clin Nutr. 2011 Aug;94(2):601-10. doi: 10.3945/ajcn.110.010926. Epub 2011 Jun 29. PMID: 21715508.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Venables MC, Hulston CJ, Cox HR, Jeukendrup AE. Green tea extract ingestion, fat oxidation, and glucose tolerance in healthy humans. Am J Clin Nutr. 2008 Mar;87(3):778-84. doi: 10.1093/ajcn/87.3.778. PMID: 18326618.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Jimenez-Saenz M, Martinez-Sanchez Mdel C. Acute hepatitis associated with the use of green tea infusions. J Hepatol. 2006 Mar;44(3):616-7. doi: 10.1016/j.jhep.2005.11.041. Epub 2005 Dec 27. PMID: 16427718.</p></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <div class="container research-ingredients-description">
        <div class="row">
            <div class="col-12 research-product-ingredient-name">
                <h1>Colina bitartrato</h1>
            </div>
            <div class="col-lg-12 col-sm-12 research-ingredients-info">
                <p class="research-ingredients-text">Es un nutriente esencial soluble en agua a menudo asociado con las vitaminas B</p>
                <p class="research-ingredients-subtitle">Procedencia:</p>
                <p class="research-ingredients-text">Fue descubierto en 1862 y sintetizado químicamente en 1866. En 1998 fue clasificada como nutriente esencial en USA.</p>
                <p class="research-ingredients-subtitle">Beneficios:</p>
                <p class="research-ingredients-text">Se ha encontrado que la administración de colina es beneficiosa para la salud mental de no solo niños y adultos mayores, inclusive adultos jóvenes sanos, en particular con relación a la función cognitiva locomotora.
                    Estudios recientes sugieren que la colina bitartrato tiene la habilidad de mejorar el funcionamiento de memoria en humanos adultos sanos.
                    Grandes estudios de observación relacionan la ingesta de colina y los niveles en sangre con una mejor función cerebral, incluida una mejor memoria y procesamiento
                </p>
                <p class="research-ingredients-subtitle">¿Cómo funciona?</p>
                <p class="research-ingredients-text">Juega un papel importante precursor del importante neurotransmisor acetilcolina, teniendo importantes y diversas funciones para la mantención de función celular, neurotransmisión, síntesis de membrana y transporte lipídico.
                    Se dice que los suplementos de colina servirían para tratar diversas enfermedades, asma, inclusive prevendría defectos de tubo neural durante el embarazo.
                    Otros estudios dicen que ayudaría a la mantención de membranas celulares y mejorar la función cardiovascular.
                    Reportes dicen que la deficiencia de colina está implicada en consecuencias metabólicas como hígado graso, daño al ADN, apoptosis celular, alteración de expresión de genes y deficiencias cognitivas.
                    Se ha encontrado que la administración de colina es beneficiosa para la salud mental de no solo niños y adultos mayores, inclusive adultos jóvenes sanos, en particular con relación a la función cognitiva locomotora. Además, se descubrió que la ingesta crónica de colina mejora el comportamiento, la oxidación y neuroquímica.
                    Se ha investigado que la colina podría tener propiedades antioxidantes y reducir la cantidad de lípidos.
                </p>
                <p class="research-ingredients-subtitle">Contraindicaciones:</p>
                <p class="research-ingredients-text">Se debe consultar a un especialista en salud antes de consumir colina.</p>
                <p class="research-ingredients-subtitle">Efectos adversos:</p>
                <p class="research-ingredients-text">El límite superior diario para adultos es de 3500 mg por día. Este es el nivel más alto de ingesta que probablemente no cause daño.
                    El consumo excesivo de colina se ha asociado con efectos secundarios desagradables y potencialmente dañinos.
                    Estos incluyen descensos de la presión arterial, sudoración, olor corporal a pescado, diarrea, náuseas y vómitos.
                </p>
                <p class="research-ingredients-subtitle">Estudios clinicos:</p>
                <ul class="research-studies-list">
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Bruce, S. E., Werner, K. B., Preston, B. F., & Baker, L. M. (2014). Improvements in concentration, working memory and sustained attention following consumption of a natural citicoline-caffeine beverage. International Journal of Food Sciences and Nutrition, 65(8), 1003–1007. https://doi.org/10.3109/09637486.2014.940286</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Moreno, H., Hall, G., Gallo, M., & de Brugada, I. (2018). Dietary choline supplementation in adult rats improves performance on a test of recognition memory. Behavioural Brain Research, 353(April), 210–217. https://doi.org/10.1016/j.bbr.2018.04.030</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Smolders, L., DeWit, N. J. W., Balvers, M. G. J., Obeid, R., Vissers, M. M. M., & Esser, D. (2019). Natural choline from egg yolk phospholipids is more efficiently absorbed compared with choline bitartrate; outcomes of a randomized trial in healthy adults. Nutrients, 11(11). https://doi.org/10.3390/nu11112758</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Lemos, B. S., Medina-Vera, I., Blesso, C. N., & Fernandez, M. L. (2018). Intake of 3 eggs per day when compared to a choline bitartrate supplement, downregulates cholesterol synthesis without changing the LDL/HDL ratio. Nutrients, 10(2), 1–12. https://doi.org/10.3390/nu10020258</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>https://pubchem.ncbi.nlm.nih.gov/compound/Choline-bitartrate</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>https://www.medchemexpress.com/choline-bitartrate.html</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Tabassum, S., Haider, S., Ahmad, S., Madiha, S., & Parveen, T. (2017). Chronic choline supplementation improves cognitive and motor performance via modulating oxidative and neurochemical status in rats. Pharmacology Biochemistry and Behavior, 159(March), 90–99. https://doi.org/10.1016/j.pbb.2017.05.011</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Aziza, A. E., Awadin, W., & Cherian, G. (2019). Impact of Choline Supplementation on Hepatic Histopathology, Phospholipid Content, and Tocopherol Status in Layer Hens Fed Flaxseed. Journal of Applied Poultry Research, 28(3), 679–687. https://doi.org/10.3382/japr/pfz019</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Wiedeman, A. M., Barr, S. I., Green, T. J., Xu, Z., Innis, S. M., & Kitts, D. D. (2018). Dietary choline intake: Current state of knowledge across the life cycle. Nutrients, 10(10). https://doi.org/10.3390/nu10101513</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>https://ods.od.nih.gov/factsheets/Choline-DatosEnEspanol/</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Poly C, Massaro JM, Seshadri S, Wolf PA, Cho E, Krall E, Jacques PF, Au R. The relation of dietary choline to cognitive performance and white-matter hyperintensity in the Framingham Offspring Cohort. Am J Clin Nutr. 2011 Dec;94(6):1584-91. doi: 10.3945/ajcn.110.008938. Epub 2011 Nov 9. PMID: 22071706; PMCID: PMC3252552.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Nurk E, Refsum H, Bjelland I, Drevon CA, Tell GS, Ueland PM, Vollset SE, Engedal K, Nygaard HA, Smith DA. Plasma free choline, betaine and cognitive performance: the Hordaland Health Study. Br J Nutr. 2013 Feb 14;109(3):511-9. doi: 10.1017/S0007114512001249. Epub 2012 May 1. PMID: 22717142.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>https://ods.od.nih.gov/factsheets/Choline-Consumer/</p></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <div class="container research-ingredients-description">
        <div class="row">
            <div class="col-12 research-product-ingredient-name">
                <h1>Extracto de yerba mate.</h1>
            </div>
            <div class="col-lg-12 col-sm-12 research-ingredients-info">
                <p class="research-ingredients-text">La yerba mate es una bebida tradicional muy popular en Sudamérica.</p>
                <p class="research-ingredients-subtitle">Procedencia:</p>
                <p class="research-ingredients-text">Proviene de las hojas de la planta IIex paraguariensis.</p>
                <p class="research-ingredients-subtitle">Beneficios:</p>
                <p class="research-ingredients-text">Se dice que puede aumentar la energía y mejorar la concentración. Al poseer cafeína, reduce la fatiga y mejora el rendimiento deportivo.</p>
                <p class="research-ingredients-subtitle">¿Cómo funciona?</p>
                <p class="research-ingredients-text">Contiene muchos nutrientes como las xantinas, las cuales son estimulantes.
                    Presenta antioxidantes en forma de polifenoles, los cuales están relacionados con menos riesgo de enfermedades, inclusive se dice que tendría propiedades antioxidantes mucho más potentes que el té verde, por ejemplo.
                    Otros estudios mencionan que las saponinas presentes en la yerba mate tienen efectos antiinflamatorios.
                    Se menciona que podría disminuir el riesgo de enfermedades cardiovasculares, disminuyendo los niveles de colesterol LDL (malo).
                    Se dice también que la yerba mate contiene 7 de 9 aminoácidos esenciales.
                    La cafeína contenida en la yerba mate puede estimular ciertas moléculas señalizadoras en el cerebro, las cuales pueden ayudar en la concentración.
                    Compuestos contenidos en la yerba mate se dice que tienen efectos contra las infecciones.
                    Estudios más recientes dicen que la yerba mate podría reducir el apetito y mejorar el metabolismo, ayudando así a bajar de peso, también se estudia su posible ayuda en contra la diabetes, al disminuir la formación de compuestos glicosilados (AGEs), que pueden empeorar ciertas enfermedades.
                </p>
                <p class="research-ingredients-subtitle">Contraindicaciones:</p>
                <p class="research-ingredients-text">Se muestra en estudios que la yerba mate contiene un inhibidor de la monoamino oxidasa (IMAO), por tanto, personas que consumen antidepresivos con ese mecanismo de acción y también medicamentos contra el Parkinson, deben tener precaución al consumir yerba mate.
                    Al poseer cafeína en su composición, puede interactuar con el relajante muscular Tizanidina y el antidepresivo Fluvoxamina.
                </p>
                <p class="research-ingredients-subtitle">Efectos adversos:</p>
                <p class="research-ingredients-text">Es poco probable que la yerba mate cause daño a los adultos sanos que la beben ocasionalmente. Se comenta igualmente que las personas que lo consumen de manera regular tendrían mayor riesgo de desarrollar cáncer, efectos indeseados relacionados a la cafeína.</p>
                <p class="research-ingredients-subtitle">Estudios clinicos:</p>
                <ul class="research-studies-list">
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Kang YR, Lee HY, Kim JH, et al. Anti-obesity and anti-diabetic effects of Yerba Mate (Ilex paraguariensis) in C57BL/6J mice fed a high-fat diet. Lab Anim Res. 2012;28(1):23-29. doi:10.5625/lar.2012.28.1.23</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Filip R, Davicino R, Anesini C. Antifungal activity of the aqueous extract of Ilex paraguariensis against Malassezia furfur. Phytother Res. 2010 May;24(5):715-9. doi: 10.1002/ptr.3004. PMID: 19827026.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Burris KP, Davidson PM, Stewart CN Jr, Zivanovic S, Harte FM. Aqueous extracts of yerba mate (Ilex paraguariensis) as a natural antimicrobial against Escherichia coli O157:H7 in a microbiological medium and pH 6.0 apple juice. J Food Prot. 2012 Apr;75(4):753-7. doi: 10.4315/0362-028X.JFP-11-214. PMID: 22488066.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Carman AJ, Dacks PA, Lane RF, Shineman DW, Fillit HM. Current evidence for the use of coffee and caffeine to prevent age-related cognitive decline and Alzheimer's disease. J Nutr Health Aging. 2014 Apr;18(4):383-92. doi: 10.1007/s12603-014-0021-7. PMID: 24676319.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Puangpraphant S, de Mejia EG. Saponins in yerba mate tea ( Ilex paraguariensis A. St.-Hil) and quercetin synergistically inhibit iNOS and COX-2 in lipopolysaccharide-induced macrophages through NFkappaB pathways. J Agric Food Chem. 2009 Oct 14;57(19):8873-83. doi: 10.1021/jf902255h. PMID: 19807157.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Mosimann AL, Wilhelm-Filho D, da Silva EL. Aqueous extract of Ilex paraguariensis attenuates the progression of atherosclerosis in cholesterol-fed rabbits. Biofactors. 2006;26(1):59-70. doi: 10.1002/biof.5520260106. PMID: 16614483.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Morais EC, Stefanuto A, Klein GA, Boaventura BC, de Andrade F, Wazlawik E, Di Pietro PF, Maraschin M, da Silva EL. Consumption of yerba mate ( Ilex paraguariensis ) improves serum lipid parameters in healthy dyslipidemic subjects and provides an additional LDL-cholesterol reduction in individuals on statin therapy. J Agric Food Chem. 2009 Sep 23;57(18):8316-24. doi: 10.1021/jf901660g. PMID: 19694438.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Kang YR, Lee HY, Kim JH, Moon DI, Seo MY, Park SH, Choi KH, Kim CR, Kim SH, Oh JH, Cho SW, Kim SY, Kim MG, Chae SW, Kim O, Oh HG. Anti-obesity and anti-diabetic effects of Yerba Mate (Ilex paraguariensis) in C57BL/6J mice fed a high-fat diet. Lab Anim Res. 2012 Mar;28(1):23-9. doi: 10.5625/lar.2012.28.1.23. Epub 2012 Mar 21. PMID: 22474471; PMCID: PMC3315195.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Heck CI, de Mejia EG. Yerba Mate Tea (Ilex paraguariensis): a comprehensive review on chemistry, health implications, and technological considerations. J Food Sci. 2007 Nov;72(9):R138-51. doi: 10.1111/j.1750-3841.2007.00535.x. PMID: 18034743.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Scher AI, Stewart WF, Lipton RB. Caffeine as a risk factor for chronic daily headache: a population-based study. Neurology. 2004 Dec 14;63(11):2022-7. doi: 10.1212/01.wnl.0000145760.37852.ed. PMID: 15596744.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Singh R, Barden A, Mori T, Beilin L. Advanced glycation end-products: a review. Diabetologia. 2001 Feb;44(2):129-46. doi: 10.1007/s001250051591. Erratum in: Diabetologia 2002 Feb;45(2):293. PMID: 11270668.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Nehlig A, Daval JL, Debry G. Caffeine and the central nervous system: mechanisms of action, biochemical, metabolic and psychostimulant effects. Brain Res Brain Res Rev. 1992 May-Aug;17(2):139-70. doi: 10.1016/0165-0173(92)90012-b. PMID: 1356551.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Heckman MA, Weil J, Gonzalez de Mejia E. Caffeine (1, 3, 7-trimethylxanthine) in foods: a comprehensive review on consumption, functionality, safety, and regulatory matters. J Food Sci. 2010 Apr;75(3):R77-87. doi: 10.1111/j.1750-3841.2010.01561.x. PMID: 20492310.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Hodgson AB, Randell RK, Jeukendrup AE. The metabolic and performance effects of caffeine compared to coffee during endurance exercise. PLoS One. 2013;8(4):e59561. doi: 10.1371/journal.pone.0059561. Epub 2013 Apr 3. PMID: 23573201; PMCID: PMC3616086.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Spriet LL. Exercise and sport performance with low doses of caffeine. Sports Med. 2014;44 Suppl 2(Suppl 2):S175-S184. doi:10.1007/s40279-014-0257-8</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Ratamess NA, Bush JA, Kang J, Kraemer WJ, Stohs SJ, Nocera VG, Leise MD, Diamond KB, Faigenbaum AD. The effects of supplementation with P-Synephrine alone and in combination with caffeine on resistance exercise performance. J Int Soc Sports Nutr. 2015 Sep 17;12:35. doi: 10.1186/s12970-015-0096-5. PMID: 26388707; PMCID: PMC4573476.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Lunceford N, Gugliucci A. Ilex paraguariensis extracts inhibit AGE formation more efficiently than green tea. Fitoterapia. 2005 Jul;76(5):419-27. doi: 10.1016/j.fitote.2005.03.021. PMID: 15894431.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Schinella G, Fantinelli JC, Mosca SM. Cardioprotective effects of Ilex paraguariensis extract: evidence for a nitric oxide-dependent mechanism. Clin Nutr. 2005 Jun;24(3):360-6. doi: 10.1016/j.clnu.2004.11.013. PMID: 15869828.</p></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <div class="container research-ingredients-description">
        <div class="row">
            <div class="col-12 research-product-ingredient-name">
                <h1>Extracto cacao.</h1>
            </div>
            <div class="col-lg-12 col-sm-12 research-ingredients-info">
                <p class="research-ingredients-text">El cacao es famoso en el mundo por su rol en la producción de chocolate, sin embargo, se ha descubierto que tiene componentes que pueden beneficiar a la salud.</p>
                <p class="research-ingredients-subtitle">Procedencia:</p>
                <p class="research-ingredients-text">Se usó por primera vez en la civilización Maya de Centroamérica. Proviene de los granos de cacao triturados una vez se elimina la manteca de cacao.</p>
                <p class="research-ingredients-subtitle">Beneficios:</p>
                <p class="research-ingredients-text">Mejoraría el humor. Mejoraría el rendimiento mental</p>
                <p class="research-ingredients-subtitle">¿Cómo funciona?</p>
                <p class="research-ingredients-text">Contiene polifenoles, los cuales tienen numerosos beneficios como la reducción de la inflamación, mejorar la presión sanguínea, mejorar niveles de colesterol y de glucosa en sangre.
                    Los flavonoides contenidos en la cocoa influencian la producción de óxido nítrico, relajando la musculatura de los vasos sanguíneos, mejorando la circulación de sangre hacia el cerebro. Otra característica de los flavonoles es la capacidad de prevenir, mediante el consumo alto de ellos, la diabetes tipo 2.
                    Se dice en estudios que podría reducir la presión sanguínea al incrementar los niveles de óxido nítrico (ON), el cual puede mejorar la función de los vasos sanguíneos reduciendo la presión sobre ellos. Además de reducir la presión sanguínea, se dice en estudios que podría ayudar a disminuir el riesgo de sufrir un ataque cardiaco.
                    Estudios recientes dicen que los flavonoides consumidos a través de la cocoa tendrían la capacidad de mejorar el rendimiento mental en las personas que tienen o no discapacidad mental.
                    Se dice también que podría tener efectos positivos en el humor debido a los flavonoles de cacao, esto ya que podría colaborar en la conversión de triptófano a serotonina.
                    Tiene propiedades promisorias en el control de peso, regulando el uso de energía, reduciendo el apetito, la inflamación, incrementando la oxidación de grasas y sensación de estar satisfecho.
                    Además de todos sus efectos positivos, se estudia también su papel en la protección celular, rol antioxidante, antiinflamatorio, matar a células cancerosas y ayudar a prevenir su propagación.
                    Otros componentes de la cocoa como la teobromina y teofilina podrían ayudar a personas que son asmáticas, disminuyendo la constricción de las vías respiratorias
                </p>
                <p class="research-ingredients-subtitle">Contraindicaciones:</p>
                <p class="research-ingredients-text">A pesar de que es bastante seguro, se recomienda consultar al médico antes de consumirlo.</p>
                <p class="research-ingredients-subtitle">Efectos adversos:</p>
                <p class="research-ingredients-text">La cantidad exacta de cocoa que se debe consumir no está clara todavía, pero se dice que para obtener los beneficios debe consumirse 200 mg de flavonoles por día. Se dice que debe ser lo menos procesado para tener más flavonoles disponibles.</p>
                <p class="research-ingredients-subtitle">Estudios clinicos:</p>
                <ul class="research-studies-list">
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Awortwe C, Asiedu-Gyekye IJ, Nkansah E, Adjei S. Unsweetened natural cocoa has anti-asthmatic potential. Int J Immunopathol Pharmacol. 2014 Apr-Jun;27(2):203-12. doi: 10.1177/039463201402700207. PMID: 25004832.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Oñatibia-Astibia A, Martínez-Pinilla E, Franco R. The potential of methylxanthine-based therapies in pediatric respiratory tract diseases. Respir Med. 2016 Mar;112:1-9. doi: 10.1016/j.rmed.2016.01.022. Epub 2016 Feb 1. PMID: 26880379.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Martín MA, Goya L, Ramos S. Preventive Effects of Cocoa and Cocoa Antioxidants in Colon Cancer. Diseases. 2016 Jan 22;4(1):6. doi: 10.3390/diseases4010006. PMID: 28933386; PMCID: PMC5456306.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Martin MA, Goya L, Ramos S. Potential for preventive effects of cocoa and cocoa polyphenols in cancer. Food Chem Toxicol. 2013 Jun;56:336-51. doi: 10.1016/j.fct.2013.02.020. Epub 2013 Feb 22. PMID: 23439478.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Farhat G, Drummond S, Fyfe L, Al-Dujaili EA. Dark chocolate: an obesity paradox or a culprit for weight gain? Phytother Res. 2014 Jun;28(6):791-7. doi: 10.1002/ptr.5062. Epub 2013 Sep 2. PMID: 24000103.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Ali F, Ismail A, Kersten S. Molecular mechanisms underlying the potential antiobesity-related diseases effect of cocoa polyphenols. Mol Nutr Food Res. 2014 Jan;58(1):33-48. doi: 10.1002/mnfr.201300277. Epub 2013 Nov 21. PMID: 24259381.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Zamora-Ros R, Forouhi NG, Sharp SJ, González CA, Buijsse B, Guevara M, van der Schouw YT, Amiano P, Boeing H, Bredsdorff L, Clavel-Chapelon F, Fagherazzi G, Feskens EJ, Franks PW, Grioni S, Katzke V, Key TJ, Khaw KT, Kühn T, Masala G, Mattiello A, Molina-Montes E, Nilsson PM, Overvad K, Perquier F, Quirós JR, Romieu I, Sacerdote C, Scalbert A, Schulze M, Slimani N, Spijkerman AM, Tjonneland A, Tormo MJ, Tumino R, van der A DL, Langenberg C, Riboli E, Wareham NJ. The association between dietary flavonoid and lignan intakes and incident type 2 diabetes in European populations: the EPIC-InterAct study. Diabetes Care. 2013 Dec;36(12):3961-70. doi: 10.2337/dc13-0877. Epub 2013 Oct 15. PMID: 24130345; PMCID: PMC3836159.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Ramos S, Martín MA, Goya L. Effects of Cocoa Antioxidants in Type 2 Diabetes Mellitus. Antioxidants (Basel). 2017 Oct 31;6(4):84. doi: 10.3390/antiox6040084. PMID: 29088075; PMCID: PMC5745494.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Mastroiacovo D, Kwik-Uribe C, Grassi D, Necozione S, Raffaele A, Pistacchio L, Righetti R, Bocale R, Lechiara MC, Marini C, Ferri C, Desideri G. Cocoa flavanol consumption improves cognitive function, blood pressure control, and metabolic profile in elderly subjects: the Cocoa, Cognition, and Aging (CoCoA) Study--a randomized controlled trial. Am J Clin Nutr. 2015 Mar;101(3):538-48. doi: 10.3945/ajcn.114.092189. Epub 2014 Dec 17. PMID: 25733639; PMCID: PMC4340060.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Desideri G, Kwik-Uribe C, Grassi D, Necozione S, Ghiadoni L, Mastroiacovo D, Raffaele A, Ferri L, Bocale R, Lechiara MC, Marini C, Ferri C. Benefits in cognitive function, blood pressure, and insulin resistance through cocoa flavanol consumption in elderly subjects with mild cognitive impairment: the Cocoa, Cognition, and Aging (CoCoA) study. Hypertension. 2012 Sep;60(3):794-801. doi: 10.1161/HYPERTENSIONAHA.112.193060. Epub 2012 Aug 14. PMID: 22892813.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Nurk E, Refsum H, Drevon CA, Tell GS, Nygaard HA, Engedal K, Smith AD. Intake of flavonoid-rich wine, tea, and chocolate by elderly men and women is associated with better cognitive test performance. J Nutr. 2009 Jan;139(1):120-7. doi: 10.3945/jn.108.095182. Epub 2008 Dec 3. PMID: 19056649</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Sokolov AN, Pavlova MA, Klosterhalfen S, Enck P. Chocolate and the brain: neurobiological impact of cocoa flavanols on cognition and behavior. Neurosci Biobehav Rev. 2013 Dec;37(10 Pt 2):2445-53. doi: 10.1016/j.neubiorev.2013.06.013. Epub 2013 Jun 26. PMID: 23810791.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Ried K, Fakler P, Stocks NP. Effect of cocoa on blood pressure. Cochrane Database Syst Rev. 2017 Apr 25;4(4):CD008893. doi: 10.1002/14651858.CD008893.pub3. PMID: 28439881; PMCID: PMC6478304.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>De Araujo QR, Gattward JN, Almoosawi S, Silva Md, Dantas PA, De Araujo Júnior QR. Cocoa and Human Health: From Head to Foot--A Review. Crit Rev Food Sci Nutr. 2016;56(1):1-12. doi: 10.1080/10408398.2012.657921. PMID: 24915376.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Nehlig A. The neuroprotective effects of cocoa flavanol and its influence on cognitive performance. Br J Clin Pharmacol. 2013 Mar;75(3):716-27. doi: 10.1111/j.1365-2125.2012.04378.x. PMID: 22775434; PMCID: PMC3575938.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Lin X, Zhang I, Li A, Manson JE, Sesso HD, Wang L, Liu S. Cocoa Flavanol Intake and Biomarkers for Cardiometabolic Health: A Systematic Review and Meta-Analysis of Randomized Controlled Trials. J Nutr. 2016 Nov;146(11):2325-2333. doi: 10.3945/jn.116.237644. Epub 2016 Sep 28. PMID: 27683874; PMCID: PMC5086796.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Ferri C, Desideri G, Ferri L, Proietti I, Di Agostino S, Martella L, Mai F, Di Giosia P, Grassi D. Cocoa, blood pressure, and cardiovascular health. J Agric Food Chem. 2015 Nov 18;63(45):9901-9. doi: 10.1021/acs.jafc.5b01064. Epub 2015 Jul 13. PMID: 26125676.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Becker K, Geisler S, Ueberall F, Fuchs D, Gostner JM. Immunomodulatory properties of cacao extracts - potential consequences for medical applications. Front Pharmacol. 2013 Dec 12;4:154. doi: 10.3389/fphar.2013.00154. PMID: 24376420; PMCID: PMC3859901.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Scholey A, Owen L. Effects of chocolate on cognitive function and mood: a systematic review. Nutr Rev. 2013 Oct;71(10):665-81. doi: 10.1111/nure.12065. PMID: 24117885.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Ludovici V, Barthelmes J, Nägele MP, Enseleit F, Ferri C, Flammer AJ, Ruschitzka F, Sudano I. Cocoa, Blood Pressure, and Vascular Function. Front Nutr. 2017 Aug 2;4:36. doi: 10.3389/fnut.2017.00036. PMID: 28824916; PMCID: PMC5539137.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Larsson SC. Coffee, tea, and cocoa and risk of stroke. Stroke. 2014 Jan;45(1):309-14. doi: 10.1161/STROKEAHA.113.003131. Epub 2013 Dec 10. PMID: 24326448.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Buijsse B, Weikert C, Drogan D, Bergmann M, Boeing H. Chocolate consumption in relation to blood pressure and risk of cardiovascular disease in German adults. Eur Heart J. 2010 Jul;31(13):1616-23. doi: 10.1093/eurheartj/ehq068. Epub 2010 Mar 30. PMID: 20354055.</p></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <div class="container research-ingredients-description">
        <div class="row">
            <div class="col-12 research-product-ingredient-name">
                <h1>Extracto de nuez de cola.</h1>
            </div>
            <div class="col-lg-12 col-sm-12 research-ingredients-info">
                <p class="research-ingredients-text">Es la fruta del árbol de cola. Se ocupa como estimulante en bebidas energéticas o gaseosas. También es masticado por trabajadores para disminuir fatiga y hambre.</p>
                <p class="research-ingredients-subtitle">Procedencia:</p>
                <p class="research-ingredients-text">Proviene del árbol de cola (Cola acuminata, Cola nítida) ubicados en el oeste de África.</p>
                <p class="research-ingredients-subtitle">Beneficios:</p>
                <p class="research-ingredients-text">Estimulante del sistema nervioso central. Por su contenido de cafeína, disminuye la fatiga. Mejora el estado de alerta</p>
                <p class="research-ingredients-subtitle">¿Cómo funciona?</p>
                <p class="research-ingredients-text">La gran mayoría de sus beneficios provienen de la cafeína que contiene la fruta.
                    Contiene teobromina y colatina que ayudarían a aliviar el hambre y la fatiga.
                    Estudios sugieren que la cola nítida (extracto de nuez de cola) posee propiedades antioxidantes y antidiabéticas). Se dice que tiene la capacidad de reactivar las vías de señalización de la insulina y vías metabólicas del piruvato, también la activación de la biosíntesis de catecolaminas como fenilalanina, tirosina y también tiene un rol beneficioso con la tirosina en las vías de estrés oxidativo en tejidos hepáticos.
                    Se están estudiando sus componentes como tratamiento de diabetes.
                    Hay estudios muy recientes que estudian la capacidad del extracto de nuez de cola de mejorar la memoria y estimular los receptores de glutamato en el hipocampo y amígdala.
                </p>
                <p class="research-ingredients-subtitle">Contraindicaciones:</p>
                <p class="research-ingredients-text">Antes de consumir se debe consultar al médico tratante. Alérgicos a las nueces deben evitar el consumo de nueces de cola.</p>
                <p class="research-ingredients-subtitle">Efectos adversos:</p>
                <p class="research-ingredients-text">La FDA lo menciona como suplemento seguro para consumo humano.
                    Los efectos adversos pueden asociarse a si se consume en altas dosis por su contenido de cafeína, tales como insomnio, dolor de cabeza, ansiedad, dependencia, frecuencia cardiaca anormal y mareos.
                </p>
                <p class="research-ingredients-subtitle">Estudios clinicos:</p>
                <ul class="research-studies-list">
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Imam-Fulani, A., Olajide, L., & Owoyele, B. (2019). Effects of acetone extract of cola nitida on memory and metabotropic glutamate receptor1a (mGlutR1a) in female wistar rats. IBRO Reports, 7, 42. https://doi.org/https://doi.org/10.1016/j.ibror.2019.09.086</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Adewale, I. O., & Adekunle, A. T. (2018). Biochemical properties of peroxidase from white and red cultivars of kolanut (Cola nitida). Biocatalysis and Agricultural Biotechnology, 14, 1–9. https://doi.org/https://doi.org/10.1016/j.bcab.2018.01.013</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Erukainure, O. L., Sanni, O., Ijomone, O. M., Ibeji, C. U., Chukwuma, C. I., & Islam, M. S. (2019). The antidiabetic properties of the hot water extract of kola nut (Cola nitida (Vent.) Schott & Endl.) in type 2 diabetic rats. Journal of Ethnopharmacology, 242, 112033. https://doi.org/https://doi.org/10.1016/j.jep.2019.112033</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Erukainure, O. L., Oyebode, O. A., Sokhela, M. K., Koorbanally, N. A., & Islam, M. S. (2017). Caffeine – rich infusion from Cola nitida (kola nut) inhibits major carbohydrate catabolic enzymes; abates redox imbalance; and modulates oxidative dysregulated metabolic pathways and metabolites in Fe2+-induced hepatic toxicity. Biomedicine & Pharmacotherapy, 96, 1065–1074. https://doi.org/https://doi.org/10.1016/j.biopha.2017.11.120</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Burdock GA, Carabin IG, Crincoli CM. Safety assessment of kola nut extract as a food ingredient. Food Chem Toxicol. 2009 Aug;47(8):1725-32. doi: 10.1016/j.fct.2009.04.019. Epub 2009 Apr 24. PMID: 19394393.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Roseland, J. M., Holden, J. M., Schweitzer, A., Andrews, K. W., Zhao, C., Brandt, M., Woo, J., Dwyer, J., Picciano, M. F., Saldanha, L. G., & Betz, J. M. (2006). Caffeine-Containing Ingredients in Dietary Supplements: Guarana, Kola Nut, Yerba Mate, Tea, and Cocoa. Journal of the American Dietetic Association, 106(8, Supplement), A43. https://doi.org/https://doi.org/10.1016/j.jada.2006.05.276</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Starin D. Kola nut: so much more than just a nut. J R Soc Med. 2013;106(12):510-512. doi:10.1177/0141076813507708</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Sundstrom GL. The Cola nut. Functions in West African social life. Stud Ethnoggr Upsa Liensia 1966; 26: 135–46 </p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Nickalls RWD. W. F. Daniell (1817–1865) and the discovery that cola-nuts contain caffeine. Pharm J 1986; 236: 401–2</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Abaka E. Kola nut. In: Kiple KF, Ornelas KC. (eds). The Cambridge World History of Food, UK: Cambridge University Press, 2000, pp. 684–90</p></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <div class="container research-ingredients-description">
        <div class="row">
            <div class="col-12 research-product-ingredient-name">
                <h1>Cafeína anhidra</h1>
            </div>
            <div class="col-lg-12 col-sm-12 research-ingredients-info">
                <p class="research-ingredients-text">La cafeína es el más conocido psicoestimulante en el mundo y tiene un efecto potente de desvelo, se encuentra principalmente en el café. Tiene efectos sobre el sueño y en el ciclo circadiano.
                    Es el principal ingrediente activo en el café, té, chocolate caliente y otras bebidas. También es usada en preparaciones farmacológicas como adyuvante en combinaciones analgésicas.
                </p>
                <p class="research-ingredients-subtitle">Procedencia:</p>
                <p class="research-ingredients-text">Una antigua leyenda china dice que el emperador Shen Nung descubrió el té por primera vez en 2437 a. C. cuando el viento arrojó hojas al agua hirviendo. Estaba intrigado por el agradable aroma y vigorizado después de beberlo.</p>
                <p class="research-ingredients-subtitle">Beneficios:</p>
                <p class="research-ingredients-text">Su popularidad se debe a los efectos estimulantes leves (p. Ej., Mayor vigilia, mejor cognición y disminución de la fatiga) que la cafeína tiene sobre el sistema nervioso central (SNC) cuando se ingiere en cantidades moderadas (≤200 mg).
                    El consumo de cantidades moderadas de cafeína aumenta la disponibilidad de energía, aumenta el gasto energético diario, disminuye la fatiga, disminuye la sensación de esfuerzo asociada con la actividad física,  mejora el rendimiento físico, mejora el rendimiento motor,  mejora el rendimiento cognitivo, aumenta el estado de alerta, la vigilia y la sensación de "energía", disminuye la fatiga mental, acelera las reacciones, aumenta la precisión de las reacciones, aumenta la capacidad para concentrarse y enfocar la atención, mejora la memoria a corto plazo,  aumenta la capacidad de resolver problemas que requieren razonamiento, aumenta la capacidad de tomar decisiones correctas, mejora las capacidades de funcionamiento cognitivo y la coordinación neuromuscular, y en adultos no embarazadas que de otra manera están sanas es seguro
                </p>
                <p class="research-ingredients-subtitle">¿Cómo funciona?</p>
                <p class="research-ingredients-text">Dosis no tóxicas de cafeína, podrían actuar bloqueando los receptores de adenosina A del cerebro, esto provocaría que disminuyeran los síntomas de desórdenes neurológicos causados por desregulaciones de ciertos neurotransmisores como la dopamina.
                    Se dice que consumir cafeína tiene muchos efectos cognitivos beneficiosos. En dosis moderadas, se ha demostrado en estudios que aumenta el estado de alerta, mejora el estado de vigilia, el rendimiento motor, mejora de la atención, enfoque atencional y mejora del humor.
                    Se demostró en estudios que la cafeína efectivamente protege la degradación de adenina en procesos de estrés oxidativo, en particular cuando el grupo hidroxilo (OH) está presente.
                    Estudios sugieren que una dosis específica de cafeína en ciertas edades neonatales, después de presentar hipoxia prenatal, podrían prevenir síntomas de esquizofrenia.
                    Hay estudios que demuestran que la cafeína no afecta la creación de nuevas ideas y mejoraría la resolución de problemas.
                </p>
                <p class="research-ingredients-subtitle">Contraindicaciones:</p>
                <p class="research-ingredients-text">Además, la cafeína puede atravesar fácilmente la placenta, lo que puede aumentar el riesgo de aborto espontáneo o bajo peso al nacer. Las mujeres embarazadas deben limitar su ingesta.
                    La cafeína también puede interactuar con algunos medicamentos.
                    Las personas que toman el relajante muscular Tizanidina o el antidepresivo Fluvoxamina deben evitar la cafeína porque estos medicamentos pueden aumentar sus efectos.
                    Se debe consultar al médico antes de consumirla, sobre todo en pacientes cardíacos.
                </p>
                <p class="research-ingredients-subtitle">Efectos adversos:</p>
                <p class="research-ingredients-text">Tanto el Departamento de Agricultura de los Estados Unidos (USDA) como la Autoridad Europea de Seguridad Alimentaria (EFSA) consideran que una ingesta diaria de 400 mg de cafeína es segura. Esto equivale a 2 a 4 tazas de café al día.
                    Cuando se consumen con moderación, los productos que contienen cafeína tienen un excelente perfil de seguridad. El consumo de cafeína generalmente se considera seguro, aunque crea hábito.
                    Algunos efectos secundarios relacionados con la ingesta excesiva incluyen ansiedad, inquietud, temblores, latidos cardíacos irregulares y problemas para dormir.
                    Demasiada cafeína también puede promover dolores de cabeza, migraña e hipertensión arterial en algunas personas
                </p>
                <p class="research-ingredients-subtitle">Estudios clinicos:</p>
                <ul class="research-studies-list">
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Gurley, B. J., Steelman, S. C., & Thomas, S. L. (2015). Multi-ingredient, caffeine-containing dietary supplements: History, safety, and efficacy. Clinical Therapeutics, 37(2), 275–301. https://doi.org/10.1016/j.clinthera.2014.08.012</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Glade MJ. Caffeine—Not just a stimulant. Nutrition [Internet]. 2010 Oct [cited 2020 Sep 14];26(10):932–8.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Vieira, A. J. S. C., Gaspar, E. M., & Santos, P. M. P. (2020). Mechanisms of potential antioxidant activity of caffeine. Radiation Physics and Chemistry, 174(March). https://doi.org/10.1016/j.radphyschem.2020.108968</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Fernandes, P. R., Almeida, F. B., da Cunha, M. M. M. V., Feddern, C. F., Freese, L., & Barros, H. M. T. (2020). The effects of caffeine on alcohol oral self-administration behavior in rats. Physiology and Behavior, 223(February). https://doi.org/10.1016/j.physbeh.2020.112966</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Trautmann, C., Burek, D., Hübner, C. A., Girault, J. A., & Engmann, O. (2020). A regulatory pathway linking caffeine action, mood and the diurnal clock. Neuropharmacology, 172(January), 108133. https://doi.org/10.1016/j.neuropharm.2020.108133</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Ramos, A. C., de Mattos Hungria, F., Camerini, B. A., Suiama, M. A., & Calzavara, M. B. (2020). Potential beneficial effects of caffeine administration in the neonatal period of an animal model of schizophrenia. Behavioural Brain Research, 391(August 2019), 112674. https://doi.org/10.1016/j.bbr.2020.112674</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Zabelina, D. L., & Silvia, P. J. (2020). Percolating ideas: The effects of caffeine on creative thinking and problem solving. Consciousness and Cognition, 79(August 2019). https://doi.org/10.1016/j.concog.2020.102899</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Alasmari, F. (2020). Caffeine induces neurobehavioral effects through modulating neurotransmitters. Saudi Pharmaceutical Journal, 28(4), 445–451. https://doi.org/10.1016/j.jsps.2020.02.005</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Caballero B, Finglas P, Toldra F (2015). Encyclopedia of Food and Health. Elsevier Science. p. 561. ISBN 978-0-12-384953-3. Retrieved 17 June 2018</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Iranpour, S., Saadati, H. M., Koohi, F., & Sabour, S. (2019). Association between caffeine intake and cognitive function in adults; effect modification by sex: Data from National Health and Nutrition Examination Survey (NHANES) 2013–2014. Clinical Nutrition, 39(7), 2158–2168. https://doi.org/10.1016/j.clnu.2019.09.003</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Jane Reynolds; Phil Gates; Gaden Robinson (1994). 365 Days of Nature and Discovery. New York: Harry N. Adams. p. 44.</p></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
</body>
</html>