<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/research.css">
</head>
<body>
    <div class="container research-product-description">
        <div class="row">
            <div class="col-lg-6 col-sm-12 research-justifycontent">
                <h1 class="research-product-name">NEURON ZEN</h1>
                <h4 class="research-general-features">Humor</h4>
                <h4 class="research-general-features">Relax</h4>
                <h4 class="research-general-features">Bienestar</h4>
                <h4 class="research-general-features">No stress</h4>
                <br>
                <h4 class="research-general-features">Los compuestos de este producto buscan ayudar a:</h2>
                <div class="research-secondary-features">
                    <ul>
                        <li><p>Mejora el humor y bienestar</p></li>
                        <li><p>Promueve un estado de no stress</p></li>
                        <li><p>Ayuda naturalmente a la reducción de ansiedad</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="research-product-image">
                    <img src="/images/productos/botellas/NeuronZen.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <!-- Research product description -->
    <div class="container research-product-ingredients">
        <div class="row">
            <div class="col-lg-6 col-sm-12 research-justifycontent">
                <h4 class="research-ingredients">Nuestros ingredientes:</h2>
                <div class="research-ingredients-list">
                    <ul>
                        <li><p>Glicinato de magnesio</p></li>
                        <li><p>L- teanina (contenida en el té verde)</p></li>
                        <li><p>Triptófano</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="research-product-nutricional-info">
                    <img src="/images/productos/etiqueta/NeuronZen.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <!-- research-ingredients-description -->
    <div class="container research-ingredients-description">
        <div class="row">
            <div class="col-12 research-product-ingredient-name">
                <h1>Glicinato de magnesio</h1>
            </div>
            <div class="col-lg-12 col-sm-12 research-ingredients-info">
                <p class="research-ingredients-text">El magnesio es el segundo catión intracelular y el cuarto elemento principal en el cuerpo. Es muy necesario para múltiples funciones fisiológicas.</p>
                <p class="research-ingredients-subtitle">Procedencia:</p>
                <p class="research-ingredients-text">Proviene de vegetales verdes, nueces, legumbres y pescados.</p>
                <p class="research-ingredients-subtitle">Beneficios:</p>
                <p class="research-ingredients-text">Se ha visto que podrían colaborar con la migraña, ansiedad, dolor crónico y diabetes.</p>
                <p class="research-ingredients-subtitle">¿Cómo funciona?</p>
                <p class="research-ingredients-text">Uno de los suplementos que se utilizan a menudo para la deficiencia de este nutriente es el glicinato de magnesio, que es magnesio unido a la glicina. Este tipo de suplemento tiene muy buenos niveles de absorción. Eso significa que su cuerpo puede aprovecharlo al máximo una vez que se ingiere.
                    Es un importante elemento para la salud humana, es una coenzima importante para muchas enzimas involucradas en la transferencia de fosfato y metabolismo energético. Su disminución en el cuerpo se ha visto por la reducción de nutrientes, enfermedades, drogas, alcohol y consumo de cafeína.
                    Tiene papeles en estabilización de genes, replicación de ADN, síntesis proteica, ácidos nucleicos y metabolismo de macronutrientes.
                    Regula y transfiere algunos iones como potasio, calcio a través de bombas y canales.
                    Es eficaz también en la neurotransmisión, por tanto, está involucrado en la fisiopatología de enfermedades como el Alzheimer, Parkinson, migraña y trastorno por déficit atencional.
                    En los últimos años se ha estudiado su efecto sobre la depresión con respecto a ciertos canales ionotrópicos en el cerebro.
                    Se ha estudiado que el consumo diario de algunas formas de magnesio (en pacientes con hipomagnesemia) puede ayudar con la depresión y niveles de magnesio en el cuerpo.
                </p>
                <p class="research-ingredients-subtitle">Contraindicaciones:</p>
                <p class="research-ingredients-text">Aunque los suplementos de magnesio generalmente se consideran seguros para los adultos sanos, asegúrese de tomar precauciones.
                    Consulte con su médico cuando comience a tomar glicinato de magnesio para obtener la dosis diaria más adecuada.
                    Al elegir un suplemento, siempre verifique la cantidad de magnesio elemental presente. Esta información suele estar presente en la etiqueta de información.
                    Consulte con su médico si tiene algún problema cardíaco o renal.
                    Si está tomando antibióticos u otros medicamentos, pregúntele a su médico cómo interactuaron con el magnesio y si se verá afectada la absorción del magnesio o de los medicamentos. Algunos medicamentos pueden hacer que su cuerpo elimine el exceso de magnesio, lo que puede provocar deficiencias.
                </p>
                <p class="research-ingredients-subtitle">Efectos adversos:</p>
                <p class="research-ingredients-text">En general, los niveles excesivos de magnesio no son comunes en personas sanas porque los riñones eliminarán el exceso.
                    Algunos de los síntomas del exceso de magnesio incluyen hipotensión o presión arterial baja, náusea, vómitos, enrojecimiento de la cara, arritmia y respiración dificultosa.
                </p>
                <p class="research-ingredients-subtitle">Estudios clinicos:</p>
                <ul class="research-studies-list">
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Rajizadeh, A., Sc, M., D, H. M. P., D, M. Y. M., Dehghani, A., & Ph, D. (2017). Effect of magnesium supplementation on depression status in depressed patients with magnesium de fi ciency : A randomized ,. Nutrition, 35, 56–60. https://doi.org/10.1016/j.nut.2016.10.014</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Ates, M., Kizildag, S., Yuksel, O., Hosgorler, F., Yuce, Z., Guvendi, G., Kandis, S., Karakilic, A., Koc, B., & Uysal, N. (2019). Dose-Dependent Absorption Profile of Different Magnesium Compounds. Biological Trace Element Research, 192(2), 244–251. https://doi.org/10.1007/s12011-019-01663-0</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Combs, G. F., & McClung, J. P. (2017). Chapter 18 - Vitamin B12 (G. F. Combs & J. P. B. T.-T. V. (Fifth E. McClung (eds.); pp. 431–452). Academic Press. https://doi.org/https://doi.org/10.1016/B978-0-12-802965-7.00018-6</p></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <div class="container research-ingredients-description">
        <div class="row">
            <div class="col-12 research-product-ingredient-name">
                <h1>L-Teanina</h1>
            </div>
            <div class="col-lg-12 col-sm-12 research-ingredients-info">
                <p class="research-ingredients-text">Es un aminoácido único no proteico que se encuentra naturalmente en las plantas de té verde y se considera un suplemento multifacético.</p>
                <p class="research-ingredients-subtitle">Procedencia:</p>
                <p class="research-ingredients-text">Se encuentra más comúnmente en las hojas de té y en pequeñas cantidades en los hongos Bay Bolete. Se puede encontrar tanto en el té verde como en el negro.</p>
                <p class="research-ingredients-subtitle">Beneficios:</p>
                <p class="research-ingredients-text">Ha recibido una atención creciente en los últimos años debido a sus efectos beneficiosos sobre el sistema nervioso central.
                    En general, varios estudios han demostrado que la administración de L-teanina mejoró los resultados de ansiedad y estrés, junto con mejoras en otras manifestaciones como la depresión y los síntomas psicopatológicos.
                    Estudios dicen que L-Teanina induce la relajación y podría reducir la presión sanguínea.
                    Otros estudios mencionan que puede ser beneficiosa para un buen dormir.
                </p>
                <p class="research-ingredients-subtitle">¿Cómo funciona?</p>
                <p class="research-ingredients-text">La ingesta de té verde en general y de L-teanina, en particular, tiene muchas funciones fisiológicas, neurológicas y biológicas promotoras de la salud, pero el mecanismo inmóvil detrás de estas propiedades en diferentes especies no se conoce del todo.
                    Se demostró que la teanina aumenta los niveles de factor neurotrófico derivado del cerebro y estimula la neurogénesis. Los efectos antiestrés y calmantes de la teanina son los más evidentes y mejor estudiados.
                    Varios estudios mostraron efectos neuroprotectores de la teanina después de una lesión cerebral isquémica o la exposición a productos químicos tóxicos. También mejoró la función cognitiva, incluida la atención, la memoria y el aprendizaje. Estudios recientes demostraron un papel prometedor de la teanina en la terapia de aumento para el trastorno depresivo mayor y la esquizofrenia.
                    L-teanina puede tener el potencial de bajar la presión arterial, posiblemente indirectamente a través de la reducción de las manifestaciones asociadas con el estrés, inhibiendo la excitación neural cortical y, en consecuencia, atenuando actividad comprensiva.
                    La teanina es un candidato prometedor para regular la homeostasis vascular y en el tratamiento de enfermedades vasculares con lesiones.
                    En general, se sugiere que la ingesta de 200 mg de L-teanina a la hora de acostarse puede mejorar la calidad del sueño por ansiolisis en lugar de sedación, como el tratamiento farmacológico convencional para el insomnio.
                </p>
                <p class="research-ingredients-subtitle">Contraindicaciones:</p>
                <p class="research-ingredients-text">Aunque algunas investigaciones muestran resultados prometedores para las propiedades antitumorales de la L-teanina, los tés que contienen aminoácidos pueden tener otros ingredientes que podrían ser dañinos para las personas con cáncer.
                    Al igual que beber demasiado café y otras bebidas con cafeína, beber grandes cantidades de tés con cafeína también puede causar problemas, como náuseas, dolor de estómago e irritabilidad.
                    Las mujeres embarazadas o en período de lactancia también deben limitar la cantidad de té que beben para evitar el exceso de cafeína. Es mejor preguntarle a su médico qué es seguro para usted. El mismo consejo se aplica también a los niños
                </p>
                <p class="research-ingredients-subtitle">Efectos adversos:</p>
                <p class="research-ingredients-text">No hay efectos secundarios directos o confirmados por tomar L-teanina. En términos generales, es seguro tomar el suplemento y beber tés que contienen L-teanina.
                    No ha habido informes de sobredosis o efectos secundarios por tomar L-teanina, y beber té es generalmente seguro para la mayoría de las personas.
                    Pero seguir las pautas generales de consumo de cafeína puede ser útil si está tomando té. Para aquellos que toman un suplemento de L-teanina, es mejor consultar a su médico para obtener orientación sobre la dosis.
                </p>
                <p class="research-ingredients-subtitle">Estudios clinicos:</p>
                <ul class="research-studies-list">
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Katasonov AB. Neĭrobiologicheskie éffekty teanina i ego vozmozhnoe ispol'zovanie v nevrologii i psikhiatrii [Neurobiological effects of theanine and its possible use in neurology and psychiatry]. Zh Nevrol Psikhiatr Im S S Korsakova. 2018;118(11):118-124. doi:10.17116/jnevro2018118111118</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Lopes Sakamoto F, Metzker Pereira Ribeiro R, Amador Bueno A, Oliveira Santos H. Psychotropic effects of L-theanine and its clinical properties: From the management of anxiety and stress to a potential use in schizophrenia. Pharmacol Res. 2019;147:104395. doi:10.1016/j.phrs.2019.104395</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Bi, A., Hang, Q., Huang, Y., Zheng, S., Bi, X., Zhang, Z., … Luo, L. (2020). L-Theanine attenuates neointimal hyperplasia via suppression of vascular smooth muscle cell phenotypic modulation. Journal of Nutritional Biochemistry, 82, 108398. https://doi.org/10.1016/j.jnutbio.2020.108398</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Saeed, M., Naveed, M., Arif, M., Kakar, M. U., Manzoor, R., Abd El-Hack, M. E., Alagawany, M., Tiwari, R., Khandia, R., Munjal, A., Karthik, K., Dhama, K., Iqbal, H. M. N., Dadar, M., & Sun, C. (2017). Green tea (Camellia sinensis) and L-theanine: Medicinal values and beneficial applications in humans—A comprehensive review. Biomedicine and Pharmacotherapy, 95(July 2017), 1260–1275. https://doi.org/10.1016/j.biopha.2017.09.024</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Theanine—monograph. Altern Med Rev 2005; 10: pp. 136-138</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Kakuda T. Neuroprotective effects of theanine and its preventive effects on cognitive dysfunction. Pharmacol Res. 2011;64(2):162-168. doi:10.1016/j.phrs.2011.03.010</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Williams, J., Kellett, J., Roach, P., McKune, A., Mellor, D., Thomas, J., & Naumovski, N. (2016). l-Theanine as a Functional Food Additive: Its Role in Disease Prevention and Health Promotion. Beverages, 2(2), 13. https://doi.org/10.3390/beverages2020013</p></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <div class="container research-ingredients-description">
        <div class="row">
            <div class="col-12 research-product-ingredient-name">
                <h1>Triptófano</h1>
            </div>
            <div class="col-lg-12 col-sm-12 research-ingredients-info">
                <p class="research-ingredients-text">El triptófano es un aminoácido esencial que cumple importantes funciones en el cuerpo.</p>
                <p class="research-ingredients-subtitle">Procedencia:</p>
                <p class="research-ingredients-text">Se puede obtener de ciertos alimentos altos en proteínas o a través de suplementos.</p>
                <p class="research-ingredients-subtitle">Beneficios:</p>
                <p class="research-ingredients-text"></p>
                <p class="research-ingredients-subtitle">¿Cómo funciona?</p>
                <p class="research-ingredients-text">Regula el balance de nitrógeno en el cuerpo, también forma Niacina, que es crucial para sintetizar el neurotransmisor serotonina.
                    Se dice que mejora la calidad del sueño al convertirse en una molécula llamada 5-HTP (5-hydroxytryptophan), el cual es usado para formar serotonina y melatonina. La melatonina es un suplemento que se ocupa para dormir y regular el ciclo circadiano.
                    Al ser precursor de serotonina, se dice que mejoraría el sueño, cognición y el humor.
                    Varios estudios han demostrado que quienes experimentan depresión pueden tener niveles de triptófano más bajos de lo normal.
                    Por otro lado, la suplementación con triptófano puede promover un buen comportamiento social.
                    Otros estudios mencionan que cuando los niveles de triptófano estuvieron bajos, la memoria a largo plazo fue peor que cuando los niveles eran normales.
                </p>
                <p class="research-ingredients-subtitle">Contraindicaciones:</p>
                <p class="research-ingredients-text">El triptófano puede ayudar a tratar los síntomas de algunas afecciones, pero puede aumentar demasiado sus niveles de serotonina, especialmente si se combina con medicamentos como:
                    <b>Antidepresivos tricíclicos (ATC), Inhibidores de la MAO (IMAO), Tramadol y meperidina, Medicamentos triptanos para la migraña y Jarabe para la tos que contiene dextrometorfano</b>
                    Si está tomando inhibidores selectivos de la recaptación de serotonina (ISRS), no debe aumentar su triptófano sin hablar con su médico. El aumento de serotonina del triptófano puede contradecir el propósito de los ISRS. Varios medicamentos para la depresión comunes se incluyen en esta categoría, que incluyen citalopram, fluoxetina y sertralina.
                    También se cree que los suplementos de triptófano pueden empeorar la enfermedad hepática o renal debido a sus vínculos con EMS. Debido a esto, no tome suplementos de triptófano si tiene problemas renales o hepáticos preexistentes.
                </p>
                <p class="research-ingredients-subtitle">Efectos adversos:</p>
                <p class="research-ingredients-text">El triptófano puede tener muchos beneficios para la salud, pero el suplemento puede causar una serie de efectos secundarios desagradables en las personas. Si bien el triptófano consumido a través de los alimentos suele ser seguro, algunas personas experimentan efectos adversos por la forma de suplemento.
                    Los más comunes son los efectos secundarios gastrointestinales, que incluyen acidez, dolor de estómago, eructos, vómitos, náuseas, diarrea y pérdida de apetito.
                    Otros efectos secundarios comunes incluyen dolores de cabeza, disfunción sexual y boca seca.
                    Los efectos secundarios más graves, que justifican la interrupción inmediata del consumo, incluyen somnolencia, aturdimiento, desenfoque visual, debilidad muscular y fatiga.
                </p>
                <p class="research-ingredients-subtitle">Estudios clinicos:</p>
                <ul class="research-studies-list">
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Fukushige H, Fukuda Y, Tanaka M, Inami K, Wada K, Tsumura Y, Kondo M, Harada T, Wakamura T, Morita T. Effects of tryptophan-rich breakfast and light exposure during the daytime on melatonin secretion at night. J Physiol Anthropol. 2014 Nov 19;33(1):33. doi: 10.1186/1880-6805-33-33. PMID: 25407790; PMCID: PMC4247643.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Coppen, A., Eccleston, E. G., & Peet, M. (1973). TOTAL AND FREE TRYPTOPHAN CONCENTRATION IN THE PLASMA OF DEPRESSIVE PATIENTS. The Lancet, 302(7820), 60–63. https://doi.org/https://doi.org/10.1016/S0140-6736(73)93259-5</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Steenbergen L, Jongkees BJ, Sellaro R, Colzato LS. Tryptophan supplementation modulates social behavior: A review. Neurosci Biobehav Rev. 2016;64:346-358. doi:10.1016/j.neubiorev.2016.02.022</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Naseem M, Parvez S. Role of melatonin in traumatic brain injury and spinal cord injury. ScientificWorldJournal. 2014;2014:586270. doi:10.1155/2014/586270</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Bravo R, Matito S, Cubero J, Paredes SD, Franco L, Rivero M, Rodríguez AB, Barriga C. Tryptophan-enriched cereal intake improves nocturnal sleep, melatonin, serotonin, and total antioxidant capacity levels and mood in elderly humans. Age (Dordr). 2013 Aug;35(4):1277-85. doi: 10.1007/s11357-012-9419-5. Epub 2012 May 24. PMID: 22622709; PMCID: PMC3705114.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Zagajewski J, Drozdowicz D, Brzozowska I, Hubalewska-Mazgaj M, Stelmaszynska T, Laidler PM, Brzozowski T. Conversion L-tryptophan to melatonin in the gastrointestinal tract: the new high performance liquid chromatography method enabling simultaneous determination of six metabolites of L-tryptophan by native fluorescence and UV-VIS detection. J Physiol Pharmacol. 2012 Dec;63(6):613-21. PMID: 23388477.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Berger M, Gray JA, Roth BL. The expanded biology of serotonin. Annu Rev Med. 2009;60:355-66. doi: 10.1146/annurev.med.60.042307.110802. PMID: 19630576; PMCID: PMC5864293.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Claustrat B, Leston J. Melatonin: Physiological effects in humans. Neurochirurgie. 2015 Apr-Jun;61(2-3):77-84. doi: 10.1016/j.neuchi.2015.03.002. Epub 2015 Apr 20. PMID: 25908646.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Birdsall TC. 5-Hydroxytryptophan: a clinically-effective serotonin precursor. Altern Med Rev. 1998 Aug;3(4):271-80. PMID: 9727088.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Schruers K, Klaassen T, Pols H, Overbeek T, Deutz NE, Griez E. Effects of tryptophan depletion on carbon dioxide provoked panic in panic disorder patients. Psychiatry Res. 2000 Apr 10;93(3):179-87. doi: 10.1016/s0165-1781(00)00117-7. PMID: 10760376.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Riedel WJ, Klaassen T, Deutz NE, van Someren A, van Praag HM. Tryptophan depletion in normal volunteers produces selective impairment in memory consolidation. Psychopharmacology (Berl). 1999 Feb;141(4):362-9. doi: 10.1007/s002130050845. PMID: 10090643.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Mendelsohn D, Riedel WJ, Sambeth A. Effects of acute tryptophan depletion on memory, attention and executive functions: a systematic review. Neurosci Biobehav Rev. 2009 Jun;33(6):926-52. doi: 10.1016/j.neubiorev.2009.03.006. Epub 2009 Mar 18. PMID: 19428501.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Jenkins TA, Nguyen JC, Polglaze KE, Bertrand PP. Influence of Tryptophan and Serotonin on Mood and Cognition with a Possible Role of the Gut-Brain Axis. Nutrients. 2016 Jan 20;8(1):56. doi: 10.3390/nu8010056. PMID: 26805875; PMCID: PMC4728667.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Iriti M, Varoni EM, Vitalini S. Melatonin in traditional Mediterranean diets. J Pineal Res. 2010 Sep;49(2):101-5. doi: 10.1111/j.1600-079X.2010.00777.x. Epub 2010 Jun 1. PMID: 20536683.</p></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
</body>
</html>