<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/research.css">
</head>
<body>
    <div class="container research-product-description">
        <div class="row">
            <div class="col-lg-6 col-sm-12 research-justifycontent">
                <h1 class="research-product-name">NEURON BRAIN SUPPORT</h1>
                <h4 class="research-general-features">Energía cerebral</h2>
                <h4 class="research-general-features">Salud cerebral</h2>
                <h4 class="research-general-features">Combustible cerebral</h2>
                <br>
                <h4 class="research-general-features">Los compuestos de este producto buscan ayudar a:</h2>
                <div class="research-secondary-features">
                    <ul>
                        <li><p>Apoya la función cognitiva</p></li>
                        <li><p>Mejora la efectividad de otros nootrópicos</p></li>
                        <li><p>Reduce la fatiga cerebral</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="research-product-image">
                    <img src="/images/productos/botellas/NeuronBrainSupport.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <!-- Research product description -->
    <div class="container research-product-ingredients">
        <div class="row">
            <div class="col-lg-6 col-sm-12 research-justifycontent">
                <h4 class="research-ingredients">Nuestros ingredientes:</h2>
                <div class="research-ingredients-list">
                    <ul>
                        <li><p>DHA</p></li>
                        <li><p>Magnesio L-treonato</p></li>
                        <li><p>Inositol</p></li>
                        <li><p>L-Fenilalanina</p></li>
                        <li><p>Piridoxina</p></li>
                        <li><p>Colina bitartrato</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="research-product-nutricional-info">
                    <img src="/images/productos/etiqueta/NeuronBrainSupport.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <!-- research-ingredients-description -->
    <div class="container research-ingredients-description">
        <div class="row">
            <div class="col-12 research-product-ingredient-name">
                <h1>DHA</h1>
            </div>
            <div class="col-lg-12 col-sm-12 col-sm-12 research-ingredients-info">
                <p class="research-ingredients-text">El DHA es ácido docosahexaenoico, uno de los más abundantes ácidos grasos poliinsaturados (PUFAs).</p>
                <p class="research-ingredients-subtitle">Procedencia:</p>
                <p class="research-ingredients-text">Se puede obtener directamente de la dieta o sintetizado a partir de un precursor llamado ácido alfa-linoleico (ALA). El aceite de pescado contiene la mayor concentración de DHA. Los ácidos grasos pueden ser sintetizados en el cuerpo humano en forma de varios tipos, sin embargo, los omega-3 son conseguidos mediante la dieta</p>
                <p class="research-ingredients-subtitle">Beneficios:</p>
                <p class="research-ingredients-text">Se han investigado por sus beneficios cardiovasculares, inflamación, enfermedades autoinmunes, depresión y trastornos neurológicos.</p>
                <p class="research-ingredients-subtitle">¿Cómo funciona?</p>
                <p class="research-ingredients-text">El DHA obtenido de la microalga contiene nutrientes esenciales como hierro, Zinc, vitamina B3, vitamina B6, vitamina C, vitamina E y magnesio.
                    Se dice que un incremento en la concentración de DHA exhibe efectos beneficiosos en el peso. También que podría tener una significante respuesta antiinflamatoria. Se demostraría que tiene un importante rol central en la prevención del déficit regulatorio del hipotálamo.
                    En otros estudios se ha asociado con menor riesgo de Alzheimer, también niveles menores de DHA en sangre están asociados con menor capacidad cognitiva, volúmenes hipocampales más pequeños y acumulación de placas amiloides en el cerebro.
                    Estudios sugieren que en grandes dosis son necesarias para garantizar una adecuada función cerebral.
                    Dicen estudios recientes que la suplementación de estos ácidos omega-3, particularmente el ácido docohexaenoico tendrían promisorios efectos en la mejora de salud mental, pudiendo en el futuro tratar desórdenes mentales como la bipolaridad, trastorno depresivo mayor, stress post traumático, stress y psicosis.
                    Tendría efectos antiangiogénicos, por tanto, tendría un efecto protector ante el cáncer de mama.
                    Otras investigaciones dicen que la ingestión de adecuadas cantidades de DHA en mujeres embarazadas podrían colaborar con el crecimiento del cerebro en fetos.
                </p>
                <p class="research-ingredients-subtitle">Contraindicaciones:</p>
                <p class="research-ingredients-text">Si tiene un problema de salud o está tomando algún medicamento, consulte con su médico antes de tomar suplementos de DHA.
                    Grandes dosis de DHA y EPA pueden diluir la sangre, por lo que si está tomando un medicamento anticoagulante o tiene una cirugía planeada, su médico puede recomendarle que evite los suplementos de aceite de pescado o puede necesitar monitorearlo más de cerca (61 Fuente confiable).
                    Si tiene alergia al pescado, su médico puede recomendarle que evite los suplementos de aceite de pescado, aunque es posible que los aceites de pescado muy puros no causen ningún problema. Las algas son una fuente de DHA que no proviene del pescado y se utiliza en algunos suplementos.
                </p>
                <p class="research-ingredients-subtitle">Efectos adversos:</p>
                <p class="research-ingredients-text">Los expertos no han establecido una ingesta diaria de referencia (IDR) para el DHA, pero generalmente se recomiendan 200 a 500 mg de DHA más EPA al día para una buena salud. Esto puede provenir de pescado, suplementos o una combinación de ambos.
                    No existe un límite superior sobre la cantidad de DHA que puede tomar, pero la FDA ha recomendado limitar la ingesta total de DHA y EPA de todas las fuentes a 3,000 mg al día, con solo 2,000 mg de este límite provenientes de suplementos
                    Posibles efectos secundarios del DHA incluyen un sabor a pescado en la boca y eructos. La elección de suplementos altamente purificados y la congelación de las cápsulas pueden ayudar a minimizar estos efectos secundarios.
                </p>
                <p class="research-ingredients-subtitle">Estudios clinicos:</p>
                <ul class="research-studies-list">
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Arellanes, I. C., Choe, N., Solomon, V., He, X., Kavin, B., Martinez, A. E., Kono, N., Buennagel, D. P., Hazra, N., Kim, G., Orazio, L. M. D., Mccleary, C., Sagare, A., Zlokovic, B. V, Hodis, H. N., Mack, W. J., Chui, H. C., Harrington, M. G., Braskie, M. N., … Yassine, H. N. (2020). Brain delivery of supplemental docosahexaenoic acid ( DHA ): A randomized placebo-controlled clinical trial. EBioMedicine, 000, 102883. https://doi.org/10.1016/j.ebiom.2020.102883</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Fabian CJ, Kimler BF, Hursting SD. Omega-3 fatty acids for breast cancer prevention and survivorship. Breast Cancer Res. 2015 May 4;17(1):62. doi: 10.1186/s13058-015-0571-6. PMID: 25936773; PMCID: PMC4418048.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Charles, C. N., Msagati, T., Swai, H., & Chacha, M. (2019). Microalgae: An alternative natural source of bioavailable omega-3 DHA for promotion of mental health in East Africa. Scientific African, 6, 4–7. https://doi.org/10.1016/j.sciaf.2019.e00187</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Ren, J., Zhang, A., & Wang, X. (2020). Jo ur na l P re. Pharmacological Research, 104743. https://doi.org/10.1016/j.phrs.2020.104743</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Li, X., Liu, J., Chen, G., Zhang, J., Wang, C., & Liu, B. (2019). Extraction and purification of eicosapentaenoic acid and docosahexaenoic acid from microalgae: A critical review. Algal Research, 43(July). https://doi.org/10.1016/j.algal.2019.101619</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Chang CH, Tseng PT, Chen NY, Lin PC, Lin PY, Chang JP, Kuo FY, Lin J, Wu MC, Su KP. Safety and tolerability of prescription omega-3 fatty acids: A systematic review and meta-analysis of randomized controlled trials. Prostaglandins Leukot Essent Fatty Acids. 2018 Feb;129:1-12. doi: 10.1016/j.plefa.2018.01.001. Epub 2018 Jan 5. PMID: 29482765.</p></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <div class="container research-ingredients-description">
        <div class="row">
            <div class="col-12 research-product-ingredient-name">
                <h1>Magnesio L-treonato</h1>
            </div>
            <div class="col-lg-12 col-sm-12 research-ingredients-info">
                <p class="research-ingredients-text">El L-treonato de magnesio es un suplemento nutricional que contiene la forma L-treonato de magnesio (Mg) que se puede utilizar para normalizar los niveles de Mg en el cuerpo.</p>
                <p class="research-ingredients-subtitle">Procedencia:</p>
                <p class="research-ingredients-text">Es una sal formada por la mezcla entre Magnesio y Ácido treónico.</p>
                <p class="research-ingredients-subtitle">Beneficios:</p>
                <p class="research-ingredients-text">Se dice que esta forma es de fácil absorción y permite tener óptimos niveles de Magnesio en el cerebro.
                    El Magnesio está involucrado en la mantención de un buen funcionamiento cerebral.
                    Se han reportado beneficios en adultos con disfunción cognitiva, trastornos del sueño y ansiedad.
                    </p>
                <p class="research-ingredients-subtitle">¿Cómo funciona?</p>
                <p class="research-ingredients-text">Estudios dicen que podría ser el tipo más efectivo para incrementar las concentraciones de Magnesio en las células cerebrales.
                    Estudios mencionan que la ingestión oral de Magnesio L- treonato (MgT) puede prevenir y reactivar la memoria a corto plazo a partir de un modelo de dolor neuropático crónico mediante la reversión de la disfunción de NMDAR (receptor) y la normalización de TNF-alfa.
                    Se ha dicho que la suplementación de Magnesio treonato al disminuir la deficiencia es un enfoque novedoso para prevenir el dolor neuropático inducido por la quimioterapia.
                    Otros estudios recientes asocian el tratamiento de MgT con un incremento de Magnesio en el fluido cerebroespinal, concluyendo que MgT puede significativamente atenuar deficiencias de dopamina (inducidas por MPTP) que provocan pérdida de neuronas.
                </p>
                <p class="research-ingredients-subtitle">Contraindicaciones:</p>
                <p class="research-ingredients-text">Su uso no es recomendable para consumo de menores de 18 años, embarazadas, nodrizas o en lactancia.</p>
                <p class="research-ingredients-subtitle">Efectos adversos:</p>
                <p class="research-ingredients-text">Se dice que es bastante seguro dentro de sus cantidades adecuadas, inclusive no presentaría el efecto adverso laxante, pero de igual manera debe consultar al médico especialista antes de consumir Magnesio en cualquier forma.</p>
                <p class="research-ingredients-subtitle">Estudios clinicos:</p>
                <ul class="research-studies-list">
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Zarate C, Duman RS, Liu G, Sartori S, Quiroz J, Murck H. New paradigms for treatment-resistant depression. Ann N Y Acad Sci. 2013 Jul;1292:21-31. doi: 10.1111/nyas.12223. PMID: 23876043; PMCID: PMC3936783.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Slutsky I, Abumaria N, Wu LJ, et al. Enhancement of learning and memory by elevating brain magnesium. Neuron. 2010;65(2):165-77.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Mickley GA, Hoxha N, Luchsinger JL, Rogers MM, Wiles NR. Chronic dietary magnesium-L-threonate speeds extinction and reduces spontaneous recovery of a conditioned taste aversion. Pharmacol Biochem Behav. 2013 May;106:16-26. doi: 10.1016/j.pbb.2013.02.019. Epub 2013 Mar 6. PMID: 23474371; PMCID: PMC3668337.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Shen Y, Dai L, Tian H, Xu R, Li F, Li Z, Zhou J, Wang L, Dong J, Sun L. Treatment Of Magnesium-L-Threonate Elevates The Magnesium Level In The Cerebrospinal Fluid And Attenuates Motor Deficits And Dopamine Neuron Loss In A Mouse Model Of Parkinson's disease. Neuropsychiatr Dis Treat. 2019 Nov 11;15:3143-3153. doi: 10.2147/NDT.S230688. PMID: 31806980; PMCID: PMC6857673.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Wang J, Liu Y, Zhou LJ, Wu Y, Li F, Shen KF, Pang RP, Wei XH, Li YY, Liu XG. Magnesium L-threonate prevents and restores memory deficits associated with neuropathic pain by inhibition of TNF-α. Pain Physician. 2013 Sep-Oct;16(5):E563-75. PMID: 24077207.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Xu T, Li D, Zhou X, Ouyang HD, Zhou LJ, Zhou H, Zhang HM, Wei XH, Liu G, Liu XG. Oral Application of Magnesium-L-Threonate Attenuates Vincristine-induced Allodynia and Hyperalgesia by Normalization of Tumor Necrosis Factor-α/Nuclear Factor-κB Signaling. Anesthesiology. 2017 Jun;126(6):1151-1168. doi: 10.1097/ALN.0000000000001601. PMID: 28306698.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Liu G, Weinger JG, Lu ZL, et al. Efficacy and Safety of MMFS-01, a Synapse Density Enhancer, for Treating Cognitive Impairment in Older Adults: A Randomized, Double-Blind, Placebo-Controlled Trial. J Alzheimers Dis. 2016;49(4):971-90.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Li W, Yu J, Liu Y, et al. Elevation of brain magnesium prevents synaptic loss and reverses cognitive deficits in Alzheimer’s disease mouse model. Mol Brain. 2014;7:65</p></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <div class="container research-ingredients-description">
        <div class="row">
            <div class="col-12 research-product-ingredient-name">
                <h1>Inositol</h1>
            </div>
            <div class="col-lg-12 col-sm-12 research-ingredients-info">
                <p class="research-ingredients-text">Son polioles cíclicos que están presentes en todos los seres vivos y que participan en muchas vías metabólicas. Es conocido también como vitamina B8 (aunque no es considerado como tal).</p>
                <p class="research-ingredients-subtitle">Procedencia:</p>
                <p class="research-ingredients-text">Se sintetiza activamente en testículos, glándulas mamarias, cerebro, riñones e hígado. Naturalmente está en alimentos como frutas, granos y nueces.</p>
                <p class="research-ingredients-subtitle">Beneficios:</p>
                <p class="research-ingredients-text">Tendría efectos ansiolíticos en dosis altas</p>
                <p class="research-ingredients-subtitle">¿Cómo funciona?</p>
                <p class="research-ingredients-text">Están presentes dentro de las células en forma libre y en la membrana plasmática. El cerebro necesita concentraciones elevadas de myo-inositol para funcionar correctamente. Está involucrado con los tejidos que consumen altas cantidades de glucosa, como cerebro, corazón y ovario.
                    Juega un rol estructural en el cuerpo, siendo esencial para el control glicémico, estaría involucrado con la producción de mensajeros químicos esenciales del cerebro como la serotonina y dopamina.
                    Se sugiere en estudios que el inositol puede ser beneficioso para los pacientes deprimidos, especialmente aquellos con PMDD (Trastornos depresivos y desorden disfórico premenstrual).
                    Este puede ser el primer uso de la estrategia precursora de un segundo mensajero en lugar de un neurotransmisor en el tratamiento de la depresión. Aunque el inositol tuvo un efecto antidepresivo significativo en este estudio, la replicación es crucial.
                    Estaría estudiado como un efectivo ansiolítico en dosis altas, también como tratamiento de resistencia a la insulina.
                    Se dice que puede ser efectivo para el tratamiento de síndrome de ovario poliquístico, también se menciona que junto al ácido fólico disminuirían los síntomas de este síndrome, reduciendo los niveles de triglicéridos en la sangre y mejorando la función de la insulina.
                    Hay otros estudios clínicos que sugieren que los suplementos de inositol podrían ser beneficiosos para personas con síndrome metabólico.
                </p>
                <p class="research-ingredients-subtitle">Contraindicaciones:</p>
                <p class="research-ingredients-text">No hay suficientes estudios para determinar la seguridad de los suplementos durante la lactancia. Por tanto, se sugiere consultar al médico tratante antes de consumirlos.
                </p>
                <p class="research-ingredients-subtitle">Efectos adversos:</p>
                <p class="research-ingredients-text">Los suplementos de inositol parecen ser bien tolerados por la mayoría de las personas.
                    Sin embargo, se han informado efectos secundarios leves con dosis de 12 gramos por día o más. Estos incluyen náuseas, gases, dificultad para dormir, dolor de cabeza, mareos y cansancio.
                    Además, no está claro si los suplementos de inositol son seguros para su uso a largo plazo. En la mayoría de los estudios, los suplementos de inositol solo se tomaron durante un año o menos. Como con cualquier suplemento, se recomienda hablar con el médico tratante antes de tomar inositol.
                </p>
                <p class="research-ingredients-subtitle">Estudios clinicos:</p>
                <ul class="research-studies-list">
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Capasso I, Esposito E, Maurea N, Montella M, Crispo A, De Laurentiis M, D'Aiuto M, Frasci G, Botti G, Grimaldi M, Cavalcanti E, Esposito G, Fucito A, Brillante G, D'Aiuto G, Ciliberto G. Combination of inositol and alpha lipoic acid in metabolic syndrome-affected women: a randomized placebo-controlled trial. Trials. 2013 Aug 28;14:273. doi: 10.1186/1745-6215-14-273. PMID: 23981814; PMCID: PMC3765513.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Kalra B, Kalra S, Sharma JB. The inositols and polycystic ovary syndrome. Indian J Endocrinol Metab. 2016;20(5):720-724. doi:10.4103/2230-8210.189231</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Brown LD, Cheung A, Harwood JE, Battaglia FC. Inositol and mannose utilization rates in term and late-preterm infants exceed nutritional intakes. J Nutr. 2009;139(9):1648-1652. doi:10.3945/jn.109.109108</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Levine J, Barak Y, Gonzalves M, et al. Double-blind, controlled trial of inositol treatment of depression. Am J Psychiatry. 1995;152(5):792-794. doi:10.1176/ajp.152.5.792</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Genazzani AD, Lanzoni C, Ricchieri F, Jasonni VM. Myo-inositol administration positively affects hyperinsulinemia and hormonal parameters in overweight patients with polycystic ovary syndrome. Gynecol Endocrinol. 2008 Mar;24(3):139-44. doi: 10.1080/09513590801893232. PMID: 18335328.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Fruzzetti F, Perini D, Russo M, Bucci F, Gadducci A. Comparison of two insulin sensitizers, metformin and myo-inositol, in women with polycystic ovary syndrome (PCOS). Gynecol Endocrinol. 2017 Jan;33(1):39-42. doi: 10.1080/09513590.2016.1236078. Epub 2016 Nov 3. PMID: 27808588.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Nestler JE, Jakubowicz DJ, Reamer P, Gunn RD, Allan G. Ovulatory and metabolic effects of D-chiro-inositol in the polycystic ovary syndrome. N Engl J Med. 1999 Apr 29;340(17):1314-20. doi: 10.1056/NEJM199904293401703. PMID: 10219066.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Mukai T, Kishi T, Matsuda Y, Iwata N. A meta-analysis of inositol for depression and anxiety disorders. Hum Psychopharmacol. 2014;29(1):55-63. doi:10.1002/hup.2369</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Barkai AI, Dunner DL, Gross HA, Mayo P, Fieve RR. Reduced myo-inositol levels in cerebrospinal fluid from patients with affective disorder. Biol Psychiatry. 1978 Feb;13(1):65-72. PMID: 623854.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Ren, J., Zhang, A., & Wang, X. (2020). Jo ur na l P re. Pharmacological Research. https://doi.org/10.1016/j.phrs.2020.104743</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Facchinetti, F., Unfer, V., Dewailly, D., Kamenov, Z. A., Diamanti-Kandarakis, E., Laganà, A. S., … Soulage, C. O. (2020). Inositols in Polycystic Ovary Syndrome: An Overview on the Advances. Trends in Endocrinology and Metabolism, 31(6), 435–447. https://doi.org/10.1016/j.tem.2020.02.002</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Larner J. D-chiro-inositol--its functional role in insulin action and its deficit in insulin resistance. Int J Exp Diabetes Res. 2002;3(1):47-60. doi:10.1080/15604280212528</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Levine J. Controlled trials of inositol in psychiatry. Eur Neuropsychopharmacol. 1997 May;7(2):147-55. doi: 10.1016/s0924-977x(97)00409-4. PMID: 9169302.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Shimon H, Agam G, Belmaker RH, Hyde TM, Kleinman JE. Reduced frontal cortex inositol levels in postmortem brain of suicide victims and patients with bipolar disorder. Am J Psychiatry. 1997 Aug;154(8):1148-50. doi: 10.1176/ajp.154.8.1148. PMID: 9247405.</p></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <div class="container research-ingredients-description">
        <div class="row">
            <div class="col-12 research-product-ingredient-name">
                <h1>L- fenilalanina</h1>
            </div>
            <div class="col-lg-12 col-sm-12 research-ingredients-info">
                <p class="research-ingredients-text">La L-fenilalanina es un aminoácido esencial, queriendo decir que la necesitamos de por vida y nuestros cuerpos no la pueden fabricar a partir de otros químicos.</p>
                <p class="research-ingredients-subtitle">Procedencia:</p>
                <p class="research-ingredients-text">Es encontrada en alimentos ricos en proteína como carne, pescado, pollo, huevos, productos lácteos y frijoles.</p>
                <p class="research-ingredients-subtitle">Beneficios:</p>
                <p class="research-ingredients-text">Esencial para la formación de proteínas importantes del cuerpo. Podría mejorar el ánimo.</p>
                <p class="research-ingredients-subtitle">¿Cómo funciona?</p>
                <p class="research-ingredients-text">En el cuerpo, la fenilalanina se convierte en otro aminoácido llamado tirosina. La tirosina en su turno es convertida en L-dopa, norepinefrina y epinefrina, tres neurotransmisores clave (químicos que trasmiten señales entre las células nerviosas).
                    Estos neurotransmisores claves son la tirosina, aminoácido que se produce directamente a partir de fenilalanina. Puede usarse para fabricar nuevas proteínas o convertirse en otras moléculas. Epinefrina y norepinefrina, cuando se encuentra con estrés, estas moléculas son vitales para la respuesta de "lucha o huida" de su cuerpo y finalmente dopamina, esta molécula está involucrada en los sentimientos de placer en su cerebro, además de formar recuerdos y habilidades de aprendizaje.
                    Debido a que algunos antidepresivos funcionan elevando los niveles de norepinefrina, se han intentado varias formas de fenilalanina como posible tratamiento para la depresión.
                    Otros estudios mencionan que, al ser precursora de dopamina, podría ayudar a personas con depresión asociada a la deficiencia de ese neurotransmisor.
                    También se menciona en otros estudios que tendría beneficios en el tratamiento de la enfermedad vitíligo.
                </p>
                <p class="research-ingredients-subtitle">Contraindicaciones:</p>
                <p class="research-ingredients-text">Puede ser peligroso para las personas con trastorno genético fenilcetonuria (PKU). Embarazadas no deberían suplementarse con fenilalanina.
                </p>
                <p class="research-ingredients-subtitle">Efectos adversos:</p>
                <p class="research-ingredients-text">La fenilalanina se encuentra en muchos alimentos que contienen proteínas y es "generalmente reconocida como segura" por la Administración de Alimentos y Medicamentos (FDA).
                    La cantidad de este aminoácido que se encuentra en los alimentos no debería representar un riesgo para las personas por lo demás sanas.
                </p>
                <p class="research-ingredients-subtitle">Estudios clinicos:</p>
                <ul class="research-studies-list">
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Dunlop BW, Nemeroff CB. The Role of Dopamine in the Pathophysiology of Depression. Arch Gen Psychiatry. 2007;64(3):327–337. doi:10.1001/archpsyc.64.3.327</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Lindemann L, Hoener MC (May 2005). "A renaissance in trace amines inspired by a novel GPCR family". Trends Pharmacol. Sci. 26 (5): 274–281. doi:10.1016/j.tips.2005.03.007. PMID 15860375.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Berg JM, Tymoczko JL, Stryer L. Biochemistry. 5th edition. New York: W H Freeman; 2002. Section 24.2, Amino Acids Are Made from Intermediates of the Citric Acid Cycle and Other Major Pathways. Available from: https://www.ncbi.nlm.nih.gov/books/NBK22459/</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Meyers S. Use of neurotransmitter precursors for treatment of depression. Altern Med Rev. 2000 Feb;5(1):64-71. PMID: 10696120.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Tank AW, Lee Wong D. Peripheral and central effects of circulating catecholamines. Compr Physiol. 2015 Jan;5(1):1-15. doi: 10.1002/cphy.c140007. PMID: 25589262.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Fernstrom JD, Fernstrom MH. Tyrosine, phenylalanine, and catecholamine synthesis and function in the brain. J Nutr. 2007 Jun;137(6 Suppl 1):1539S-1547S; discussion 1548S. doi: 10.1093/jn/137.6.1539S. PMID: 17513421.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Ezzedine K, Eleftheriadou V, Whitton M, van Geel N. Vitiligo. Lancet. 2015 Jul 4;386(9988):74-84. doi: 10.1016/S0140-6736(14)60763-7. Epub 2015 Jan 15. PMID: 25596811.</p></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <div class="container research-ingredients-description">
        <div class="row">
            <div class="col-12 research-product-ingredient-name">
                <h1>Piridoxina (B6)</h1>
            </div>
            <div class="col-lg-12 col-sm-12 research-ingredients-info">
                <p class="research-ingredients-text">La vitamina B6, también conocida como piridoxina, es una vitamina soluble en agua que su cuerpo necesita para varias funciones.</p>
                <p class="research-ingredients-subtitle">Procedencia:</p>
                <p class="research-ingredients-text">Su cuerpo no puede producir vitamina B6, por lo que debe obtenerla de alimentos o suplementos.</p>
                <p class="research-ingredients-subtitle">Beneficios:</p>
                <p class="research-ingredients-text">Tiene un importante rol en la mejora de ánimo al ser precursor de sustancias que generan bienestar. En algunos estudios se menciona que tendría un rol de mejorar la función cerebral
                </p>
                <p class="research-ingredients-subtitle">¿Cómo funciona?</p>
                <p class="research-ingredients-text">Los científicos han planteado la hipótesis de que ciertas vitaminas B (ácido fólico, vitamina B12 y vitamina B6) podrían reducir el riesgo de enfermedad cardiovascular al reducir los niveles de homocisteína.
                    Esta vitamina es necesaria para la creación de neurotransmisores que regulan emociones como la serotonina, dopamina y GABA. Por un lado, la vitamina B6 puede disminuir los niveles altos de homocisteína en sangre que pueden aumentar el riesgo de Alzheimer.
                    Los estudios han relacionado los niveles bajos de vitamina B6 con la anemia, especialmente en mujeres embarazadas y mujeres en edad fértil.
                    Hay estudios que disminuye los niveles de inflamación en personas afectadas con artritis reumatoidea.
                    Se ha relacionado en estudios que, al disminuir la inflamación, esta vitamina tendría una acción anti-cáncer.
                </p>
                <p class="research-ingredients-subtitle">Contraindicaciones:</p>
                <p class="research-ingredients-text">Siempre se debe consultar al médico antes de consumir este suplemento.</p>
                <p class="research-ingredients-subtitle">Efectos adversos:</p>
                <p class="research-ingredients-text">Obtener demasiada vitamina B6 de los suplementos puede provocar efectos secundarios negativos.
                    No es probable que se produzca toxicidad por vitamina B6 a partir de fuentes alimentarias de B6. Sería casi imposible consumir la cantidad en suplementos solo con la dieta.
                    Tomar más de 1000 mg de B6 suplementario al día puede causar daño a los nervios y dolor o entumecimiento en las manos o los pies. Algunos de estos efectos secundarios incluso se han documentado después de solo 100 a 300 mg de B6 por día. Por estas razones, el límite superior tolerable de vitamina B6 es de 100 mg por día para adultos.                </p>
                <p class="research-ingredients-subtitle">Estudios clinicos:</p>
                <ul class="research-studies-list">
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Clayton PT. B6-responsive disorders: a model of vitamin dependency. J Inherit Metab Dis. 2006 Apr-Jun;29(2-3):317-26. doi: 10.1007/s10545-005-0243-2. PMID: 16763894.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Nutt DJ. Relationship of neurotransmitters to the symptoms of major depressive disorder. J Clin Psychiatry. 2008;69 Suppl E1:4-7. PMID: 18494537.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Malouf R, Grimley Evans J. The effect of vitamin B6 on cognition. Cochrane Database Syst Rev. 2003;(4):CD004393. doi: 10.1002/14651858.CD004393. PMID: 14584010.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Seshadri S, Beiser A, Selhub J, Jacques PF, Rosenberg IH, D'Agostino RB, Wilson PW, Wolf PA. Plasma homocysteine as a risk factor for dementia and Alzheimer's disease. N Engl J Med. 2002 Feb 14;346(7):476-83. doi: 10.1056/NEJMoa011613. PMID: 11844848.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Oulhaj A, Refsum H, Beaumont H, Williams J, King E, Jacoby R, Smith AD. Homocysteine as a predictor of cognitive decline in Alzheimer's disease. Int J Geriatr Psychiatry. 2010 Jan;25(1):82-90. doi: 10.1002/gps.2303. PMID: 19484711.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Hisano M, Suzuki R, Sago H, Murashima A, Yamaguchi K. Vitamin B6 deficiency and anemia in pregnancy. Eur J Clin Nutr. 2010 Feb;64(2):221-3. doi: 10.1038/ejcn.2009.125. Epub 2009 Nov 18. PMID: 19920848.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Ronnenberg AG, Goldman MB, Aitken IW, Xu X. Anemia and deficiencies of folate and vitamin B-6 are common and vary with season in Chinese women of childbearing age. J Nutr. 2000 Nov;130(11):2703-10. doi: 10.1093/jn/130.11.2703. PMID: 11053510.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Woolf K, Manore MM. Elevated plasma homocysteine and low vitamin B-6 status in nonsupplementing older women with rheumatoid arthritis. J Am Diet Assoc. 2008 Mar;108(3):443-53; discussion 454. doi: 10.1016/j.jada.2007.12.001. PMID: 18313425.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Chiang EP, Bagley PJ, Selhub J, Nadeau M, Roubenoff R. Abnormal vitamin B(6) status is associated with severity of symptoms in patients with rheumatoid arthritis. Am J Med. 2003 Mar;114(4):283-7. doi: 10.1016/s0002-9343(02)01528-0. PMID: 12681455.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Ueland PM, McCann A, Midttun Ø, Ulvik A. Inflammation, vitamin B6 and related pathways. Mol Aspects Med. 2017 Feb;53:10-27. doi: 10.1016/j.mam.2016.08.001. Epub 2016 Sep 1. PMID: 27593095.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Bird RP. The Emerging Role of Vitamin B6 in Inflammation and Carcinogenesis. Adv Food Nutr Res. 2018;83:151-194. doi: 10.1016/bs.afnr.2017.11.004. Epub 2018 Feb 1. PMID: 29477221.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Katan MB. Hoeveel vitamine B6 is toxisch? [How much vitamin B6 is toxic?]. Ned Tijdschr Geneeskd. 2005 Nov 12;149(46):2545-6. Dutch. PMID: 16320662.</p></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="middle-line">


    <div class="container research-ingredients-description">
        <div class="row">
            <div class="col-12 research-product-ingredient-name">
                <h1>Colina bitartrato</h1>
            </div>
            <div class="col-lg-12 col-sm-12 research-ingredients-info">
                <p class="research-ingredients-text">Es un nutriente esencial soluble en agua a menudo asociado con las vitaminas B</p>
                <p class="research-ingredients-subtitle">Procedencia:</p>
                <p class="research-ingredients-text">Fue descubierto en 1862 y sintetizado químicamente en 1866. En 1998 fue clasificada como nutriente esencial en USA.</p>
                <p class="research-ingredients-subtitle">Beneficios:</p>
                <p class="research-ingredients-text">Se ha encontrado que la administración de colina es beneficiosa para la salud mental de no solo niños y adultos mayores, inclusive adultos jóvenes sanos, en particular con relación a la función cognitiva locomotora.
                    Estudios recientes sugieren que la colina bitartrato tiene la habilidad de mejorar el funcionamiento de memoria en humanos adultos sanos.
                    Grandes estudios de observación relacionan la ingesta de colina y los niveles en sangre con una mejor función cerebral, incluida una mejor memoria y procesamiento
                    </p>
                <p class="research-ingredients-subtitle">¿Cómo funciona?</p>
                <p class="research-ingredients-text">Juega un papel importante precursor del importante neurotransmisor acetilcolina, teniendo importantes y diversas funciones para la mantención de función celular, neurotransmisión, síntesis de membrana y transporte lipídico.
                    Se dice que los suplementos de colina servirían para tratar diversas enfermedades, asma, inclusive prevendría defectos de tubo neural durante el embarazo.
                    Otros estudios dicen que ayudaría a la mantención de membranas celulares y mejorar la función cardiovascular.
                    Reportes dicen que la deficiencia de colina está implicada en consecuencias metabólicas como hígado graso, daño al ADN, apoptosis celular, alteración de expresión de genes y deficiencias cognitivas.
                    Se ha encontrado que la administración de colina es beneficiosa para la salud mental de no solo niños y adultos mayores, inclusive adultos jóvenes sanos, en particular con relación a la función cognitiva locomotora. Además, se descubrió que la ingesta crónica de colina mejora el comportamiento, la oxidación y neuroquímica.
                    Se ha investigado que la colina podría tener propiedades antioxidantes y reducir la cantidad de lípidos.
                </p>
                <p class="research-ingredients-subtitle">Contraindicaciones:</p>
                <p class="research-ingredients-text">Se debe consultar a un especialista en salud antes de consumir colina.</p>
                <p class="research-ingredients-subtitle">Efectos adversos:</p>
                <p class="research-ingredients-text">El límite superior diario para adultos es de 3500 mg por día. Este es el nivel más alto de ingesta que probablemente no cause daño.
                    El consumo excesivo de colina se ha asociado con efectos secundarios desagradables y potencialmente dañinos.
                    Estos incluyen descensos de la presión arterial, sudoración, olor corporal a pescado, diarrea, náuseas y vómitos.
                </p>
                <p class="research-ingredients-subtitle">Estudios clinicos:</p>
                <ul class="research-studies-list">
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Bruce, S. E., Werner, K. B., Preston, B. F., & Baker, L. M. (2014). Improvements in concentration, working memory and sustained attention following consumption of a natural citicoline-caffeine beverage. International Journal of Food Sciences and Nutrition, 65(8), 1003–1007. https://doi.org/10.3109/09637486.2014.940286</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Moreno, H., Hall, G., Gallo, M., & de Brugada, I. (2018). Dietary choline supplementation in adult rats improves performance on a test of recognition memory. Behavioural Brain Research, 353(April), 210–217. https://doi.org/10.1016/j.bbr.2018.04.030</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Smolders, L., DeWit, N. J. W., Balvers, M. G. J., Obeid, R., Vissers, M. M. M., & Esser, D. (2019). Natural choline from egg yolk phospholipids is more efficiently absorbed compared with choline bitartrate; outcomes of a randomized trial in healthy adults. Nutrients, 11(11). https://doi.org/10.3390/nu11112758</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Lemos, B. S., Medina-Vera, I., Blesso, C. N., & Fernandez, M. L. (2018). Intake of 3 eggs per day when compared to a choline bitartrate supplement, downregulates cholesterol synthesis without changing the LDL/HDL ratio. Nutrients, 10(2), 1–12. https://doi.org/10.3390/nu10020258</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>https://www.medchemexpress.com/choline-bitartrate.html</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Tabassum, S., Haider, S., Ahmad, S., Madiha, S., & Parveen, T. (2017). Chronic choline supplementation improves cognitive and motor performance via modulating oxidative and neurochemical status in rats. Pharmacology Biochemistry and Behavior, 159(March), 90–99. https://doi.org/10.1016/j.pbb.2017.05.011</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Aziza, A. E., Awadin, W., & Cherian, G. (2019). Impact of Choline Supplementation on Hepatic Histopathology, Phospholipid Content, and Tocopherol Status in Layer Hens Fed Flaxseed. Journal of Applied Poultry Research, 28(3), 679–687. https://doi.org/10.3382/japr/pfz019</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Wiedeman, A. M., Barr, S. I., Green, T. J., Xu, Z., Innis, S. M., & Kitts, D. D. (2018). Dietary choline intake: Current state of knowledge across the life cycle. Nutrients, 10(10). https://doi.org/10.3390/nu10101513</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>https://ods.od.nih.gov/factsheets/Choline-DatosEnEspanol/</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Poly C, Massaro JM, Seshadri S, Wolf PA, Cho E, Krall E, Jacques PF, Au R. The relation of dietary choline to cognitive performance and white-matter hyperintensity in the Framingham Offspring Cohort. Am J Clin Nutr. 2011 Dec;94(6):1584-91. doi: 10.3945/ajcn.110.008938. Epub 2011 Nov 9. PMID: 22071706; PMCID: PMC3252552.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Nurk E, Refsum H, Bjelland I, Drevon CA, Tell GS, Ueland PM, Vollset SE, Engedal K, Nygaard HA, Smith DA. Plasma free choline, betaine and cognitive performance: the Hordaland Health Study. Br J Nutr. 2013 Feb 14;109(3):511-9. doi: 10.1017/S0007114512001249. Epub 2012 May 1. PMID: 22717142.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>https://ods.od.nih.gov/factsheets/Choline-Consumer/</p></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
</body>
</html>