<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/research.css">
</head>
<body>
    <div class="container research-product-description">
        <div class="row">
            <div class="col-lg-6 col-sm-12 research-justifycontent">
                <h1 class="research-product-name">NEURON FOCUS</h1>
                <h4 class="research-general-features">Energía</h2>
                <h4 class="research-general-features">Concentración</h2>
                <h4 class="research-general-features">Claridad mental</h2>
                <br>
                <h4 class="research-general-features">Los compuestos de este producto buscan ayudar a:</h2>
                <div class="research-secondary-features">
                    <ul>
                        <li><p>Facilita la atención</p></li>
                        <li><p>Elimina la niebla mental</p></li>
                        <li><p>Estimula una Máxima concentración</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="research-product-image">
                    <img src="/images/productos/botellas/NeuronFocusSC.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <!-- Research product description -->
    <div class="container research-product-ingredients">
        <div class="row">
            <div class="col-lg-6 col-sm-12 research-justifycontent">
                <h4 class="research-ingredients">Nuestros ingredientes:</h2>
                <div class="research-ingredients-list">
                    <ul>
                        <li><p>Carnitina</p></li>
                        <li><p>L-Tirosina</p></li>
                        <li><p>Colina bitartrato</p></li>
                        <li><p>Taurina</p></li>
                        <li><p>Inositol</p></li>
                        <li><p>Lecitina de soja</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="research-product-nutricional-info">
                    <img src="/images/productos/etiqueta/NeuronFocusSC.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <!-- research-ingredients-description -->
    <div class="container research-ingredients-description">
        <div class="row">
            <div class="col-12 research-product-ingredient-name">
                <h1>Carnitina</h1>
            </div>
            <div class="col-lg-12 col-sm-12 research-ingredients-info">
                <p class="research-ingredients-text">Es una sustancia similar a las vitaminas y un aminoácido modificado sin proteínas que se produce principalmente en el hígado y riñón a partir de los aminoácidos lisina y metionina. La vitamina C, iones de Hierro y la niacina desempeñan un papel en su producción.</p>
                <p class="research-ingredients-subtitle">Procedencia:</p>
                <p class="research-ingredients-text">Las principales fuentes dietéticas de L-Carnitina son las carnes, el pescado y la leche.</p>
                <p class="research-ingredients-subtitle">Beneficios:</p>
                <p class="research-ingredients-text">La suplementación con L-carnitina, particularmente en forma de suplementos orales, tuvo un efecto beneficioso sobre el perfil lipídico (Reduce colesterol malo, aumenta el bueno).
                    Se dice en estudios que tendría efectos benéficos sobre el control de glucosa en sangre y control de peso. Tendría un efecto positivo en pacientes que sufren de obesidad e insulino resistencia.
                    Los estudios en humanos indican que la ingesta diaria de acetil-L-carnitina ayuda a revertir la disminución de la función cerebral asociada con el Alzheimer y otras enfermedades cerebrales.
                </p>
                <p class="research-ingredients-subtitle">¿Cómo funciona?</p>
                <p class="research-ingredients-text">Se ha estudiado que tiene un excelente efecto en la mantención de una óptima función mitocondrial. Desempeña un papel crucial en la producción de energía al transportar ácidos grasos a las mitocondrias de sus células.
                    Estudios dicen que la suplementación de L-Carnitina tendría un efecto antioxidante con la regulación de la apoptosis, protegiendo los tejidos.
                    Como conclusión, un estudio (meta análisis) mostró que la suplementación con L-carnitina podría ser eficaz en los niveles de perfil de lípidos, particularmente en dosis superiores a 1500 mg / día. Además, la suplementación con L-carnitina puede mejorar el control glucémico, especialmente junto con una dieta hipocalórica.
                    Se dice en estudios que podría mejorar la recuperación en el ejercicio, mejorar la oxigenación muscular, incrementar el óxido nítrico en vasos sanguíneos para reducir fatiga, reduciría dolor post ejercicio y podría incrementar la producción de glóbulos rojos, células que transportan oxígeno hacia el cuerpo y músculos.
                </p>
                <p class="research-ingredients-subtitle">Contraindicaciones:</p>
                <p class="research-ingredients-text">Se debe acudir al médico antes de consumir suplementos de L- carnitina ya que la gran mayoría de las personas obtiene este aminoácido de la dieta, sin embargo, personas vegetarianas, veganas o con ciertas enfermedades podrían tener beneficios con el consumo del suplemento.</p>
                <p class="research-ingredients-subtitle">Efectos adversos:</p>
                <p class="research-ingredients-text">Para la mayoría de las personas, 2 gramos o menos por día es relativamente seguro y no presenta efectos secundarios graves.
                    Los suplementos de L-carnitina pueden aumentar los niveles sanguíneos de trimetilamina-N-óxido (TMAO) con el tiempo. Los niveles altos de TMAO están relacionados con un mayor riesgo de aterosclerosis, una enfermedad que obstruye las arterias.
                </p>
                <p class="research-ingredients-subtitle">Estudios clinicos:</p>
                <ul class="research-studies-list">
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Asadi, M., Rahimlou, M., Shishehbor, F., & Mansoori, A. (2020). The effect of L-carnitine supplementation on lipid profile and glycaemic control in adults with cardiovascular risk factors: A systematic review and meta-analysis of randomized controlled clinical trials. Clinical Nutrition, 39(1), 110–122. https://doi.org/10.1016/j.clnu.2019.01.020</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Askarpour, M., Hadi, A., Symonds, M. E., Miraghajani, M., sadeghi, O., Sheikhi, A., & Ghaedi, E. (2019). Efficacy of L-carnitine supplementation for management of blood lipids: A systematic review and dose-response meta-analysis of randomized controlled trials. Nutrition, Metabolism and Cardiovascular Diseases, 29(11), 1151–1167. https://doi.org/10.1016/j.numecd.2019.07.012</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Talenezhad, N., Mohammadi, M., Ramezani-Jolfaie, N., Mozaffari-Khosravi, H., & Salehi-Abargouei, A. (2020). Effects of L-carnitine supplementation on weight loss and body composition: A systematic review and meta-analysis of 37 randomized controlled clinical trials with dose-response analysis. Clinical Nutrition ESPEN, 37, 9–23. https://doi.org/10.1016/j.clnesp.2020.03.008</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Miwa, T., Hanai, T., Morino, K., Katsumura, N., & Shimizu, M. (2020). Effect of L-carnitine supplementation on muscle cramps induced by stroke: A case report. Nutrition, 71, 110638. https://doi.org/10.1016/j.nut.2019.110638</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Askarpour, M., Djafarian, K., Ghaedi, E., Sadeghi, O., Sheikhi, A., & Shab-Bidar, S. (2020). Effect of L-Carnitine Supplementation on Liver Enzymes: A Systematic Review and Meta-Analysis of Randomized Controlled Trials. Archives of Medical Research, 51(1), 82–94. https://doi.org/10.1016/j.arcmed.2019.12.005</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Kelek, S. E., Afşar, E., Akçay, G., Danışman, B., & Aslan, M. (2019). Effect of chronic L-carnitine supplementation on carnitine levels, oxidative stress and apoptotic markers in peripheral organs of adult Wistar rats. Food and Chemical Toxicology, 134(September). https://doi.org/10.1016/j.fct.2019.110851</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Talenezhad, N., Hosseinzadeh, M., Rahmanian, M., Mirzavandi, F., Karimi-Nazari, E., & Mozaffari-Khosravi, H. (2020). The effect of L-carnitine supplementation on blood pressure in patients with type 2 diabetes: A randomized, double-blind, placebo-controlled trial. Obesity Medicine, 18(March). https://doi.org/10.1016/j.obmed.2020.100230</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Flanagan JL, Simmons PA, Vehige J, Willcox MD, Garrett Q. Role of carnitine in disease. Nutr Metab (Lond). 2010;7:30. Published 2010 Apr 16. doi:10.1186/1743-7075-7-30</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Foster DW. The role of the carnitine system in human metabolism. Ann N Y Acad Sci. 2004 Nov;1033:1-16. doi: 10.1196/annals.1320.001. PMID: 15590999.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Sano M, Bell K, Cote L, Dooneief G, Lawton A, Legler L, Marder K, Naini A, Stern Y, Mayeux R. Double-blind parallel design pilot study of acetyl levocarnitine in patients with Alzheimer's disease. Arch Neurol. 1992 Nov;49(11):1137-41. doi: 10.1001/archneur.1992.00530350051019. PMID: 1444880.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Spagnoli A, Lucca U, Menasce G, Bandera L, Cizza G, Forloni G, Tettamanti M, Frattura L, Tiraboschi P, Comelli M, et al. Long-term acetyl-L-carnitine treatment in Alzheimer's disease. Neurology. 1991 Nov;41(11):1726-32. doi: 10.1212/wnl.41.11.1726. PMID: 1944900.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Kraemer WJ, Volek JS, French DN, Rubin MR, Sharman MJ, Gómez AL, Ratamess NA, Newton RU, Jemiolo B, Craig BW, Häkkinen K. The effects of L-carnitine L-tartrate supplementation on hormonal responses to resistance exercise and recovery. J Strength Cond Res. 2003 Aug;17(3):455-62. doi: 10.1519/1533-4287(2003)017<0455:teolls>2.0.co;2. PMID: 12930169.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Volek JS, Kraemer WJ, Rubin MR, Gómez AL, Ratamess NA, Gaynor P. L-Carnitine L-tartrate supplementation favorably affects markers of recovery from exercise stress. Am J Physiol Endocrinol Metab. 2002 Feb;282(2):E474-82. doi: 10.1152/ajpendo.00277.2001. PMID: 11788381.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Spiering BA, Kraemer WJ, Hatfield DL, Vingren JL, Fragala MS, Ho JY, Thomas GA, Häkkinen K, Volek JS. Effects of L-carnitine L-tartrate supplementation on muscle oxygenation responses to resistance exercise. J Strength Cond Res. 2008 Jul;22(4):1130-5. doi: 10.1519/JSC.0b013e31817d48d9. PMID: 18545197.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Giamberardino MA, Dragani L, Valente R, Di Lisa F, Saggini R, Vecchiet L. Effects of prolonged L-carnitine administration on delayed muscle pain and CK release after eccentric effort. Int J Sports Med. 1996 Jul;17(5):320-4. doi: 10.1055/s-2007-972854. PMID: 8858401.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Matsumoto Y, Amano I, Hirose S, Tsuruta Y, Hara S, Murata M, Imai T. Effects of L-carnitine supplementation on renal anemia in poor responders to erythropoietin. Blood Purif. 2001;19(1):24-32. doi: 10.1159/000014474. PMID: 11114574.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Mairbäurl H. Red blood cells in sports: effects of exercise and training on oxygen supply by red blood cells. Front Physiol. 2013;4:332. Published 2013 Nov 12. doi:10.3389/fphys.2013.00332</p></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <div class="container research-ingredients-description">
        <div class="row">
            <div class="col-12 research-product-ingredient-name">
                <h1>L- tirosina</h1>
            </div>
            <div class="col-lg-12 col-sm-12 research-ingredients-info">
                <p class="research-ingredients-text">Es un aminoácido esencial que se puede encontrar en ciertos alimentos como carne, pescado, huevos, lácteos, nueces, avena y trigo.</p>
                <p class="research-ingredients-subtitle">Procedencia:</p>
                <p class="research-ingredients-text">La tirosina es un aminoácido que se produce naturalmente en el cuerpo a partir de otro aminoácido llamado fenilalanina.</p>
                <p class="research-ingredients-subtitle">Beneficios:</p>
                <p class="research-ingredients-text">Reduciría el estrés durante la exposición a estresores agudos que agotarían la noradrenalina. También se dice que puede ayudar para prevenir los déficits de memoria inducidos por el estrés.</p>
                <p class="research-ingredients-subtitle">¿Cómo funciona?</p>
                <p class="research-ingredients-text">Produce importantes sustancias químicas cerebrales que ayudan a las células nerviosas a comunicarse e incluso pueden regular el estado de ánimo.
                    Es crucial para la formación de dopamina, norepinefrina y epinefrina, neurotransmisores esenciales para el buen funcionamiento de nuestro cuerpo.
                    Cuando los sujetos sanos están expuestos a factores estresantes externos o situaciones cognitivamente exigentes, los niveles de catecolaminas en el cerebro disminuyen y el rendimiento en tareas cognitivas disminuye en consecuencia. Sin embargo, la suplementación con TYR parece reponer los niveles de neurotransmisores en el cerebro y revertir la degradación inducida por el estrés de una variedad de funciones cognitivas.
                    Los estudios cognitivos que emplean medidas neuropsicológicas encontraron que la carga de tirosina contrarresta de manera aguda las disminuciones en la memoria de trabajo y el procesamiento de la información que son inducidas por condiciones situacionales exigentes como el clima extremo o la carga cognitiva. Los efectos amortiguadores de la tirosina sobre la cognición pueden explicarse por la capacidad de la tirosina para neutralizar los niveles de catecolaminas del cerebro agotados.
                </p>
                <p class="research-ingredients-subtitle">Contraindicaciones:</p>
                <p class="research-ingredients-text">La tirosina es "generalmente reconocida como segura" (GRAS) por la Administración de Alimentos y Medicamentos.
                    Se debe tener precaución con personas que consumen inhibidores de la monoamina oxidasa (MAOIs) ya que podrían elevar las cantidades de tirosina en el cuerpo de manera peligrosa.
                    Pacientes que están sometidos a terapias hormonales tiroideas pueden verse afectados, por lo tanto, se recomienda consultar antes de consumir tirosina.
                    Pacientes que consumen Levodopa (medicamento contra el Alzheimer) deben tener en cuenta que la tirosina puede disminuir la absorción de ese medicamento, por tanto, deben tomarse con horas de diferencia para evitar este efecto.
                </p>
                <p class="research-ingredients-subtitle">Efectos adversos:</p>
                <p class="research-ingredients-text">En general, es seguro, sin embargo, los estudios que utilizan dosis altas han observado un aumento de la frecuencia cardíaca, la presión arterial y un empeoramiento de los síntomas de la esquizofrenia en los pacientes.
                    Si usa dosis más altas y encuentra problemas digestivos, esto puede dividirse en dos dosis separadas por media hora (30 y 60 minutos antes del estrés agudo).
                    Se ha demostrado que complementar con él es seguro, incluso en dosis altas, pero tiene el potencial de interactuar con ciertos medicamentos, lo que requiere precaución.
                </p>
                <p class="research-ingredients-subtitle">Estudios clinicos:</p>
                <ul class="research-studies-list">
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Jongkees, B. J., Hommel, B., Kühn, S., & Colzato, L. S. (2015). Effect of tyrosine supplementation on clinical and healthy populations under stress or cognitive demands-A review. Journal of Psychiatric Research, 70(2015), 50–57. https://doi.org/10.1016/j.jpsychires.2015.08.014</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Hase A, Jung SE, aan het Rot M. Behavioral and cognitive effects of tyrosine intake in healthy human adults. Pharmacol Biochem Behav. 2015;133:1-6. doi:10.1016/j.pbb.2015.03.008</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Ennis, M., Lim, K., Ball, R., Pencharz, P., Courtney-Martin, G., & Elango, R. (2020). Dietary Phenylalanine and Tyrosine Requirements in Healthy Human Pregnancy. Current Developments in Nutrition, 4(Supplement_2), 978–978.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Young SN. L-tyrosine to alleviate the effects of stress?. J Psychiatry Neurosci. 2007;32(3):224.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>DiFrancisco‐Donoghue, J., Rabin, E., Lamberg, E.M. and Werner, W.G. (2014), Effects of Tyrosine on Parkinson's Disease: A Randomized, Double‐Blind, Placebo‐Controlled Trial. Mov Disord Clin Pract, 1: 348-353. doi:10.1002/mdc3.12082</p></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <div class="container research-ingredients-description">
        <div class="row">
            <div class="col-12 research-product-ingredient-name">
                <h1>L- tirosina</h1>
            </div>
            <div class="col-lg-12 col-sm-12 research-ingredients-info">
                <p class="research-ingredients-text">Es un aminoácido esencial que se puede encontrar en ciertos alimentos como carne, pescado, huevos, lácteos, nueces, avena y trigo.</p>
                <p class="research-ingredients-subtitle">Procedencia:</p>
                <p class="research-ingredients-text">La tirosina es un aminoácido que se produce naturalmente en el cuerpo a partir de otro aminoácido llamado fenilalanina.</p>
                <p class="research-ingredients-subtitle">Beneficios:</p>
                <p class="research-ingredients-text">Reduciría el estrés durante la exposición a estresores agudos que agotarían la noradrenalina. También se dice que puede ayudar para prevenir los déficits de memoria inducidos por el estrés.</p>
                <p class="research-ingredients-subtitle">¿Cómo funciona?</p>
                <p class="research-ingredients-text">Produce importantes sustancias químicas cerebrales que ayudan a las células nerviosas a comunicarse e incluso pueden regular el estado de ánimo.
                    Es crucial para la formación de dopamina, norepinefrina y epinefrina, neurotransmisores esenciales para el buen funcionamiento de nuestro cuerpo.
                    Cuando los sujetos sanos están expuestos a factores estresantes externos o situaciones cognitivamente exigentes, los niveles de catecolaminas en el cerebro disminuyen y el rendimiento en tareas cognitivas disminuye en consecuencia. Sin embargo, la suplementación con TYR parece reponer los niveles de neurotransmisores en el cerebro y revertir la degradación inducida por el estrés de una variedad de funciones cognitivas.
                    Los estudios cognitivos que emplean medidas neuropsicológicas encontraron que la carga de tirosina contrarresta de manera aguda las disminuciones en la memoria de trabajo y el procesamiento de la información que son inducidas por condiciones situacionales exigentes como el clima extremo o la carga cognitiva. Los efectos amortiguadores de la tirosina sobre la cognición pueden explicarse por la capacidad de la tirosina para neutralizar los niveles de catecolaminas del cerebro agotados.
                </p>
                <p class="research-ingredients-subtitle">Contraindicaciones:</p>
                <p class="research-ingredients-text">La tirosina es "generalmente reconocida como segura" (GRAS) por la Administración de Alimentos y Medicamentos.
                    Se debe tener precaución con personas que consumen inhibidores de la monoamina oxidasa (MAOIs) ya que podrían elevar las cantidades de tirosina en el cuerpo de manera peligrosa.
                    Pacientes que están sometidos a terapias hormonales tiroideas pueden verse afectados, por lo tanto, se recomienda consultar antes de consumir tirosina.
                    Pacientes que consumen Levodopa (medicamento contra el Alzheimer) deben tener en cuenta que la tirosina puede disminuir la absorción de ese medicamento, por tanto, deben tomarse con horas de diferencia para evitar este efecto.
                </p>
                <p class="research-ingredients-subtitle">Efectos adversos:</p>
                <p class="research-ingredients-text">En general, es seguro, sin embargo, los estudios que utilizan dosis altas han observado un aumento de la frecuencia cardíaca, la presión arterial y un empeoramiento de los síntomas de la esquizofrenia en los pacientes.
                    Si usa dosis más altas y encuentra problemas digestivos, esto puede dividirse en dos dosis separadas por media hora (30 y 60 minutos antes del estrés agudo).
                    Se ha demostrado que complementar con él es seguro, incluso en dosis altas, pero tiene el potencial de interactuar con ciertos medicamentos, lo que requiere precaución.
                </p>
                <p class="research-ingredients-subtitle">Estudios clinicos:</p>
                <ul class="research-studies-list">
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Jongkees, B. J., Hommel, B., Kühn, S., & Colzato, L. S. (2015). Effect of tyrosine supplementation on clinical and healthy populations under stress or cognitive demands-A review. Journal of Psychiatric Research, 70(2015), 50–57. https://doi.org/10.1016/j.jpsychires.2015.08.014</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Hase A, Jung SE, aan het Rot M. Behavioral and cognitive effects of tyrosine intake in healthy human adults. Pharmacol Biochem Behav. 2015;133:1-6. doi:10.1016/j.pbb.2015.03.008</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Ennis, M., Lim, K., Ball, R., Pencharz, P., Courtney-Martin, G., & Elango, R. (2020). Dietary Phenylalanine and Tyrosine Requirements in Healthy Human Pregnancy. Current Developments in Nutrition, 4(Supplement_2), 978–978.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Young SN. L-tyrosine to alleviate the effects of stress?. J Psychiatry Neurosci. 2007;32(3):224.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>DiFrancisco‐Donoghue, J., Rabin, E., Lamberg, E.M. and Werner, W.G. (2014), Effects of Tyrosine on Parkinson's Disease: A Randomized, Double‐Blind, Placebo‐Controlled Trial. Mov Disord Clin Pract, 1: 348-353. doi:10.1002/mdc3.12082</p></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <div class="container research-ingredients-description">
        <div class="row">
            <div class="col-12 research-product-ingredient-name">
                <h1>Colina bitartrato</h1>
            </div>
            <div class="col-lg-12 col-sm-12 research-ingredients-info">
                <p class="research-ingredients-text">Es un nutriente esencial soluble en agua a menudo asociado con las vitaminas B</p>
                <p class="research-ingredients-subtitle">Procedencia:</p>
                <p class="research-ingredients-text">Fue descubierto en 1862 y sintetizado químicamente en 1866. En 1998 fue clasificada como nutriente esencial en USA.</p>
                <p class="research-ingredients-subtitle">Beneficios:</p>
                <p class="research-ingredients-text">Se ha encontrado que la administración de colina es beneficiosa para la salud mental de no solo niños y adultos mayores, inclusive adultos jóvenes sanos, en particular con relación a la función cognitiva locomotora.
                    Estudios recientes sugieren que la colina bitartrato tiene la habilidad de mejorar el funcionamiento de memoria en humanos adultos sanos.
                    Grandes estudios de observación relacionan la ingesta de colina y los niveles en sangre con una mejor función cerebral, incluida una mejor memoria y procesamiento
                    </p>
                <p class="research-ingredients-subtitle">¿Cómo funciona?</p>
                <p class="research-ingredients-text">Juega un papel importante precursor del importante neurotransmisor acetilcolina, teniendo importantes y diversas funciones para la mantención de función celular, neurotransmisión, síntesis de membrana y transporte lipídico.
                    Se dice que los suplementos de colina servirían para tratar diversas enfermedades, asma, inclusive prevendría defectos de tubo neural durante el embarazo.
                    Otros estudios dicen que ayudaría a la mantención de membranas celulares y mejorar la función cardiovascular.
                    Reportes dicen que la deficiencia de colina está implicada en consecuencias metabólicas como hígado graso, daño al ADN, apoptosis celular, alteración de expresión de genes y deficiencias cognitivas.
                    Se ha encontrado que la administración de colina es beneficiosa para la salud mental de no solo niños y adultos mayores, inclusive adultos jóvenes sanos, en particular con relación a la función cognitiva locomotora. Además, se descubrió que la ingesta crónica de colina mejora el comportamiento, la oxidación y neuroquímica.
                    Se ha investigado que la colina podría tener propiedades antioxidantes y reducir la cantidad de lípidos.
                </p>
                <p class="research-ingredients-subtitle">Contraindicaciones:</p>
                <p class="research-ingredients-text">Se debe consultar a un especialista en salud antes de consumir colina.</p>
                <p class="research-ingredients-subtitle">Efectos adversos:</p>
                <p class="research-ingredients-text">El límite superior diario para adultos es de 3500 mg por día. Este es el nivel más alto de ingesta que probablemente no cause daño.
                    El consumo excesivo de colina se ha asociado con efectos secundarios desagradables y potencialmente dañinos.
                    Estos incluyen descensos de la presión arterial, sudoración, olor corporal a pescado, diarrea, náuseas y vómitos.
                </p>
                <p class="research-ingredients-subtitle">Estudios clinicos:</p>
                <ul class="research-studies-list">
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Bruce, S. E., Werner, K. B., Preston, B. F., & Baker, L. M. (2014). Improvements in concentration, working memory and sustained attention following consumption of a natural citicoline-caffeine beverage. International Journal of Food Sciences and Nutrition, 65(8), 1003–1007. https://doi.org/10.3109/09637486.2014.940286</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Moreno, H., Hall, G., Gallo, M., & de Brugada, I. (2018). Dietary choline supplementation in adult rats improves performance on a test of recognition memory. Behavioural Brain Research, 353(April), 210–217. https://doi.org/10.1016/j.bbr.2018.04.030</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Smolders, L., DeWit, N. J. W., Balvers, M. G. J., Obeid, R., Vissers, M. M. M., & Esser, D. (2019). Natural choline from egg yolk phospholipids is more efficiently absorbed compared with choline bitartrate; outcomes of a randomized trial in healthy adults. Nutrients, 11(11). https://doi.org/10.3390/nu11112758</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Lemos, B. S., Medina-Vera, I., Blesso, C. N., & Fernandez, M. L. (2018). Intake of 3 eggs per day when compared to a choline bitartrate supplement, downregulates cholesterol synthesis without changing the LDL/HDL ratio. Nutrients, 10(2), 1–12. https://doi.org/10.3390/nu10020258</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>https://pubchem.ncbi.nlm.nih.gov/compound/Choline-bitartrate</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>https://www.medchemexpress.com/choline-bitartrate.html</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Tabassum, S., Haider, S., Ahmad, S., Madiha, S., & Parveen, T. (2017). Chronic choline supplementation improves cognitive and motor performance via modulating oxidative and neurochemical status in rats. Pharmacology Biochemistry and Behavior, 159(March), 90–99. https://doi.org/10.1016/j.pbb.2017.05.011</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Aziza, A. E., Awadin, W., & Cherian, G. (2019). Impact of Choline Supplementation on Hepatic Histopathology, Phospholipid Content, and Tocopherol Status in Layer Hens Fed Flaxseed. Journal of Applied Poultry Research, 28(3), 679–687. https://doi.org/10.3382/japr/pfz019</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Wiedeman, A. M., Barr, S. I., Green, T. J., Xu, Z., Innis, S. M., & Kitts, D. D. (2018). Dietary choline intake: Current state of knowledge across the life cycle. Nutrients, 10(10). https://doi.org/10.3390/nu10101513</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>https://ods.od.nih.gov/factsheets/Choline-DatosEnEspanol/</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Poly C, Massaro JM, Seshadri S, Wolf PA, Cho E, Krall E, Jacques PF, Au R. The relation of dietary choline to cognitive performance and white-matter hyperintensity in the Framingham Offspring Cohort. Am J Clin Nutr. 2011 Dec;94(6):1584-91. doi: 10.3945/ajcn.110.008938. Epub 2011 Nov 9. PMID: 22071706; PMCID: PMC3252552.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Nurk E, Refsum H, Bjelland I, Drevon CA, Tell GS, Ueland PM, Vollset SE, Engedal K, Nygaard HA, Smith DA. Plasma free choline, betaine and cognitive performance: the Hordaland Health Study. Br J Nutr. 2013 Feb 14;109(3):511-9. doi: 10.1017/S0007114512001249. Epub 2012 May 1. PMID: 22717142.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>https://ods.od.nih.gov/factsheets/Choline-Consumer/</p></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <div class="container research-ingredients-description">
        <div class="row">
            <div class="col-12 research-product-ingredient-name">
                <h1>Taurina</h1>
            </div>
            <div class="col-lg-12 col-sm-12 research-ingredients-info">
                <p class="research-ingredients-text">La taurina es uno de los principales beta-aminoácidos intracelulares libres, es ampliamente distribuido en tejidos humanos y mamíferos. Su nombre proviene del latín Taurus que significa toro.</p>
                <p class="research-ingredients-subtitle">Procedencia:</p>
                <p class="research-ingredients-text">La taurina se encuentra en grandes cantidades en el cerebro, la retina, el corazón y las células sanguíneas llamadas plaquetas. Las mejores fuentes alimenticias son la carne, el pescado y los huevos.</p>
                <p class="research-ingredients-subtitle">Beneficios:</p>
                <p class="research-ingredients-text">La taurina, que se encuentra en varios órganos, tiene amplios beneficios.
                    Sus roles directos incluyen, mantener una hidratación adecuada y un equilibrio de electrolitos en sus células, formando sales biliares, que juegan un papel importante en la digestión.
                    Regulación de minerales como el calcio dentro de sus células, apoyando la función general de su sistema nervioso central y ojos.
                    Regula la salud del sistema inmunológico y la función antioxidante.
                    Se ha demostrado que la taurina tiene varios beneficios para la salud, como un menor riesgo de enfermedad y un mejor rendimiento deportivo.
                    Su rol osmoregulador ha sido ampliamente conocido.
                </p>
                <p class="research-ingredients-subtitle">¿Cómo funciona?</p>
                <p class="research-ingredients-text">Desempeña un papel esencial para mantener la integridad celular en el corazón, los músculos, la retina y el sistema nervioso.
                    Otros estudios recientes prueban con fuerte evidencia que la taurina puede reducir el estrés oxidativo, reducir la apoptosis, atenuar la hipertrofia y fibrosis.
                    Se dice en estudios que la suplementación taurina mejora el perfil metabólico, se dice también que podría prevenir y reducir las complicaciones de la diabetes tipo 2.
                    Estudios demuestran que tiene acciones beneficiosas contra la insuficiencia cardiaca.
                </p>
                <p class="research-ingredients-subtitle">Contraindicaciones:</p>
                <p class="research-ingredients-text">Es muy seguro y no tiene efectos secundarios conocidos cuando se toma en dosis razonables.
                    Según la mejor evidencia disponible, la taurina no tiene efectos secundarios negativos cuando se usa en las cantidades recomendadas.
                </p>
                <p class="research-ingredients-subtitle">Efectos adversos:</p>
                <p class="research-ingredients-text">Al igual que con la mayoría de los suplementos a base de aminoácidos, podrían surgir problemas en personas con problemas renales.</p>
                <p class="research-ingredients-subtitle">Estudios clinicos:</p>
                <ul class="research-studies-list">
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Esmaeili, F., Maleki, V., Kheirouri, S., & Alizadeh, M. (2020). The effects of taurine supplementation on metabolic profiles, pentosidine, soluble receptor of advanced glycation end products and methylglyoxal in patients with type 2 diabetes: A Randomized, Double-Blind, Placebo-Controlled Trial. Canadian Journal of Diabetes. https://doi.org/10.1016/j.jcjd.2020.05.004</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Liu, J., Ai, Y., Niu, X., Shang, F., Li, Z., Liu, H., Li, W., Ma, W., Chen, R., Wei, T., Li, X., & Li, X. (2020). Taurine protects against cardiac dysfunction induced by pressure overload through SIRT1–p53 activation. Chemico-Biological Interactions, 317(January), 108972.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Cañas D Patricio. ROL BIOLÓGICO Y NUTRICIONAL DE LA TAURINA Y SUS DERIVADOS. Rev. chil. nutr.  [Internet]. 2002  Dic [citado  2020  Sep  14] ;  29 (3): 286-292.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Kendler BS. Taurine: an overview of its role in preventive medicine. Prev Med. 1989 Jan;18(1):79-100. doi: 10.1016/0091-7435(89)90056-x. PMID: 2496406.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Balshaw TG, Bampouras TM, Barry TJ, Sparks SA. The effect of acute taurine ingestion on 3-km running performance in trained middle-distance runners. Amino Acids. 2013 Feb;44(2):555-61. doi: 10.1007/s00726-012-1372-1. Epub 2012 Aug 2. PMID: 22855206.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Ripps H, Shen W. Review: taurine: a "very essential" amino acid. Mol Vis. 2012;18:2673-86. Epub 2012 Nov 12. PMID: 23170060; PMCID: PMC3501277.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Schuller-Levis GB, Park E. Taurine: new implications for an old amino acid. FEMS Microbiol Lett. 2003 Sep 26;226(2):195-202. doi: 10.1016/S0378-1097(03)00611-6. PMID: 14553911.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Pasantes Morales H, Schousboe A. Volume regulation in astrocytes: a role for taurine as an osmoeffector. J Neurosci Res. 1988 Aug;20(4):503-9. doi: 10.1002/jnr.490200415. PMID: 3184212.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Sturman JA. Taurine in development. Physiol Rev. 1993 Jan;73(1):119-47. doi: 10.1152/physrev.1993.73.1.119. PMID: 8419963.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Aruoma OI, Halliwell B, Hoey BM, Butler J. The antioxidant action of taurine, hypotaurine and their metabolic precursors. Biochem J. 1988 Nov 15;256(1):251-5. doi: 10.1042/bj2560251. PMID: 2851980; PMCID: PMC1135395.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Suliman ME, Bárány P, Filho JC, Lindholm B, Bergström J. Accumulation of taurine in patients with renal failure. Nephrol Dial Transplant. 2002 Mar;17(3):528-9. doi: 10.1093/ndt/17.3.528. PMID: 11865115.</p></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <div class="container research-ingredients-description">
        <div class="row">
            <div class="col-12 research-product-ingredient-name">
                <h1>Inositol</h1>
            </div>
            <div class="col-lg-12 col-sm-12 research-ingredients-info">
                <p class="research-ingredients-text">Son polioles cíclicos que están presentes en todos los seres vivos y que participan en muchas vías metabólicas. Es conocido también como vitamina B8 (aunque no es considerado como tal).</p>
                <p class="research-ingredients-subtitle">Procedencia:</p>
                <p class="research-ingredients-text">Se sintetiza activamente en testículos, glándulas mamarias, cerebro, riñones e hígado. Naturalmente está en alimentos como frutas, granos y nueces.</p>
                <p class="research-ingredients-subtitle">Beneficios:</p>
                <p class="research-ingredients-text">Tendría efectos ansiolíticos en dosis altas</p>
                <p class="research-ingredients-subtitle">¿Cómo funciona?</p>
                <p class="research-ingredients-text">Están presentes dentro de las células en forma libre y en la membrana plasmática. El cerebro necesita concentraciones elevadas de myo-inositol para funcionar correctamente. Está involucrado con los tejidos que consumen altas cantidades de glucosa, como cerebro, corazón y ovario.
                    Juega un rol estructural en el cuerpo, siendo esencial para el control glicémico, estaría involucrado con la producción de mensajeros químicos esenciales del cerebro como la serotonina y dopamina.
                    Se sugiere en estudios que el inositol puede ser beneficioso para los pacientes deprimidos, especialmente aquellos con PMDD (Trastornos depresivos y desorden disfórico premenstrual).
                    Este puede ser el primer uso de la estrategia precursora de un segundo mensajero en lugar de un neurotransmisor en el tratamiento de la depresión. Aunque el inositol tuvo un efecto antidepresivo significativo en este estudio, la replicación es crucial.
                    Estaría estudiado como un efectivo ansiolítico en dosis altas, también como tratamiento de resistencia a la insulina.
                    Se dice que puede ser efectivo para el tratamiento de síndrome de ovario poliquístico, también se menciona que junto al ácido fólico disminuirían los síntomas de este síndrome, reduciendo los niveles de triglicéridos en la sangre y mejorando la función de la insulina.
                    Hay otros estudios clínicos que sugieren que los suplementos de inositol podrían ser beneficiosos para personas con síndrome metabólico.
                </p>
                <p class="research-ingredients-subtitle">Contraindicaciones:</p>
                <p class="research-ingredients-text">No hay suficientes estudios para determinar la seguridad de los suplementos durante la lactancia. Por tanto, se sugiere consultar al médico tratante antes de consumirlos.
                </p>
                <p class="research-ingredients-subtitle">Efectos adversos:</p>
                <p class="research-ingredients-text">Los suplementos de inositol parecen ser bien tolerados por la mayoría de las personas.
                    Sin embargo, se han informado efectos secundarios leves con dosis de 12 gramos por día o más. Estos incluyen náuseas, gases, dificultad para dormir, dolor de cabeza, mareos y cansancio.
                    Además, no está claro si los suplementos de inositol son seguros para su uso a largo plazo. En la mayoría de los estudios, los suplementos de inositol solo se tomaron durante un año o menos. Como con cualquier suplemento, se recomienda hablar con el médico tratante antes de tomar inositol.
                </p>
                <p class="research-ingredients-subtitle">Estudios clinicos:</p>
                <ul class="research-studies-list">
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Capasso I, Esposito E, Maurea N, Montella M, Crispo A, De Laurentiis M, D'Aiuto M, Frasci G, Botti G, Grimaldi M, Cavalcanti E, Esposito G, Fucito A, Brillante G, D'Aiuto G, Ciliberto G. Combination of inositol and alpha lipoic acid in metabolic syndrome-affected women: a randomized placebo-controlled trial. Trials. 2013 Aug 28;14:273. doi: 10.1186/1745-6215-14-273. PMID: 23981814; PMCID: PMC3765513.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Kalra B, Kalra S, Sharma JB. The inositols and polycystic ovary syndrome. Indian J Endocrinol Metab. 2016;20(5):720-724. doi:10.4103/2230-8210.189231</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Brown LD, Cheung A, Harwood JE, Battaglia FC. Inositol and mannose utilization rates in term and late-preterm infants exceed nutritional intakes. J Nutr. 2009;139(9):1648-1652. doi:10.3945/jn.109.109108</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Levine J, Barak Y, Gonzalves M, et al. Double-blind, controlled trial of inositol treatment of depression. Am J Psychiatry. 1995;152(5):792-794. doi:10.1176/ajp.152.5.792</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Genazzani AD, Lanzoni C, Ricchieri F, Jasonni VM. Myo-inositol administration positively affects hyperinsulinemia and hormonal parameters in overweight patients with polycystic ovary syndrome. Gynecol Endocrinol. 2008 Mar;24(3):139-44. doi: 10.1080/09513590801893232. PMID: 18335328.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Fruzzetti F, Perini D, Russo M, Bucci F, Gadducci A. Comparison of two insulin sensitizers, metformin and myo-inositol, in women with polycystic ovary syndrome (PCOS). Gynecol Endocrinol. 2017 Jan;33(1):39-42. doi: 10.1080/09513590.2016.1236078. Epub 2016 Nov 3. PMID: 27808588.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Nestler JE, Jakubowicz DJ, Reamer P, Gunn RD, Allan G. Ovulatory and metabolic effects of D-chiro-inositol in the polycystic ovary syndrome. N Engl J Med. 1999 Apr 29;340(17):1314-20. doi: 10.1056/NEJM199904293401703. PMID: 10219066.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Mukai T, Kishi T, Matsuda Y, Iwata N. A meta-analysis of inositol for depression and anxiety disorders. Hum Psychopharmacol. 2014;29(1):55-63. doi:10.1002/hup.2369</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Barkai AI, Dunner DL, Gross HA, Mayo P, Fieve RR. Reduced myo-inositol levels in cerebrospinal fluid from patients with affective disorder. Biol Psychiatry. 1978 Feb;13(1):65-72. PMID: 623854.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Ren, J., Zhang, A., & Wang, X. (2020). Jo ur na l P re. Pharmacological Research. https://doi.org/10.1016/j.phrs.2020.104743</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Facchinetti, F., Unfer, V., Dewailly, D., Kamenov, Z. A., Diamanti-Kandarakis, E., Laganà, A. S., … Soulage, C. O. (2020). Inositols in Polycystic Ovary Syndrome: An Overview on the Advances. Trends in Endocrinology and Metabolism, 31(6), 435–447. https://doi.org/10.1016/j.tem.2020.02.002</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Larner J. D-chiro-inositol--its functional role in insulin action and its deficit in insulin resistance. Int J Exp Diabetes Res. 2002;3(1):47-60. doi:10.1080/15604280212528</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Levine J. Controlled trials of inositol in psychiatry. Eur Neuropsychopharmacol. 1997 May;7(2):147-55. doi: 10.1016/s0924-977x(97)00409-4. PMID: 9169302.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Shimon H, Agam G, Belmaker RH, Hyde TM, Kleinman JE. Reduced frontal cortex inositol levels in postmortem brain of suicide victims and patients with bipolar disorder. Am J Psychiatry. 1997 Aug;154(8):1148-50. doi: 10.1176/ajp.154.8.1148. PMID: 9247405.</p></li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="middle-line">

    <div class="container research-ingredients-description">
        <div class="row">
            <div class="col-12 research-product-ingredient-name">
                <h1>L- fenilalanina</h1>
            </div>
            <div class="col-lg-12 col-sm-12 research-ingredients-info">
                <p class="research-ingredients-text">La L-fenilalanina es un aminoácido esencial, queriendo decir que la necesitamos de por vida y nuestros cuerpos no la pueden fabricar a partir de otros químicos.</p>
                <p class="research-ingredients-subtitle">Procedencia:</p>
                <p class="research-ingredients-text">Es encontrada en alimentos ricos en proteína como carne, pescado, pollo, huevos, productos lácteos y frijoles.</p>
                <p class="research-ingredients-subtitle">Beneficios:</p>
                <p class="research-ingredients-text">Esencial para la formación de proteínas importantes del cuerpo. Podría mejorar el ánimo.</p>
                <p class="research-ingredients-subtitle">¿Cómo funciona?</p>
                <p class="research-ingredients-text">En el cuerpo, la fenilalanina se convierte en otro aminoácido llamado tirosina. La tirosina en su turno es convertida en L-dopa, norepinefrina y epinefrina, tres neurotransmisores clave (químicos que trasmiten señales entre las células nerviosas).
                    Estos neurotransmisores claves son la tirosina, aminoácido que se produce directamente a partir de fenilalanina. Puede usarse para fabricar nuevas proteínas o convertirse en otras moléculas. Epinefrina y norepinefrina, cuando se encuentra con estrés, estas moléculas son vitales para la respuesta de "lucha o huida" de su cuerpo y finalmente dopamina, esta molécula está involucrada en los sentimientos de placer en su cerebro, además de formar recuerdos y habilidades de aprendizaje.
                    Debido a que algunos antidepresivos funcionan elevando los niveles de norepinefrina, se han intentado varias formas de fenilalanina como posible tratamiento para la depresión.
                    Otros estudios mencionan que, al ser precursora de dopamina, podría ayudar a personas con depresión asociada a la deficiencia de ese neurotransmisor.
                    También se menciona en otros estudios que tendría beneficios en el tratamiento de la enfermedad vitíligo.
                </p>
                <p class="research-ingredients-subtitle">Contraindicaciones:</p>
                <p class="research-ingredients-text">Puede ser peligroso para las personas con trastorno genético fenilcetonuria (PKU). Embarazadas no deberían suplementarse con fenilalanina.
                </p>
                <p class="research-ingredients-subtitle">Efectos adversos:</p>
                <p class="research-ingredients-text">La fenilalanina se encuentra en muchos alimentos que contienen proteínas y es "generalmente reconocida como segura" por la Administración de Alimentos y Medicamentos (FDA).
                    La cantidad de este aminoácido que se encuentra en los alimentos no debería representar un riesgo para las personas por lo demás sanas.
                </p>
                <p class="research-ingredients-subtitle">Estudios clinicos:</p>
                <ul class="research-studies-list">
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Dunlop BW, Nemeroff CB. The Role of Dopamine in the Pathophysiology of Depression. Arch Gen Psychiatry. 2007;64(3):327–337. doi:10.1001/archpsyc.64.3.327</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Lindemann L, Hoener MC (May 2005). "A renaissance in trace amines inspired by a novel GPCR family". Trends Pharmacol. Sci. 26 (5): 274–281. doi:10.1016/j.tips.2005.03.007. PMID 15860375.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Berg JM, Tymoczko JL, Stryer L. Biochemistry. 5th edition. New York: W H Freeman; 2002. Section 24.2, Amino Acids Are Made from Intermediates of the Citric Acid Cycle and Other Major Pathways. Available from: https://www.ncbi.nlm.nih.gov/books/NBK22459/</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Meyers S. Use of neurotransmitter precursors for treatment of depression. Altern Med Rev. 2000 Feb;5(1):64-71. PMID: 10696120.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Tank AW, Lee Wong D. Peripheral and central effects of circulating catecholamines. Compr Physiol. 2015 Jan;5(1):1-15. doi: 10.1002/cphy.c140007. PMID: 25589262.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Fernstrom JD, Fernstrom MH. Tyrosine, phenylalanine, and catecholamine synthesis and function in the brain. J Nutr. 2007 Jun;137(6 Suppl 1):1539S-1547S; discussion 1548S. doi: 10.1093/jn/137.6.1539S. PMID: 17513421.</p></li>
                    <li><p class="research-studies-text"><span class="list-bulletpoint">§</span>Ezzedine K, Eleftheriadou V, Whitton M, van Geel N. Vitiligo. Lancet. 2015 Jul 4;386(9988):74-84. doi: 10.1016/S0140-6736(14)60763-7. Epub 2015 Jan 15. PMID: 25596811.</p></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
</body>
</html>