<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">    <!-- <link rel="stylesheet" href="/stylesheets/research.css"> -->
    <link rel="stylesheet" href="/stylesheets/fuentes.css">
    <link rel="stylesheet" href="/stylesheets/producto.css">
</head>
<body class="body">

    <!-- BODY -->
    <div class="container-fluid" style="background: linear-gradient(90deg, rgba(96,11,35,1) 0%, rgba(162,14,56,1) 20%, rgba(207,12,67,1) 50%, rgba(162,14,56,1) 80%, rgba(96,11,35,1) 100%)">
        <div class="product">
            <div class="row">
                <div class="col-lg-5 col-md-12">
                    <div class="product-img">
                        <img src="/images/productos/Botellas/NeuronFocus.png" alt="NeuronFocus_Bottle">
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <div class="product-desc">
                        <div class="product-format"><span class="product-price">$20.00</span> - 60 CAPSULAS</div>
                        <div class="product-name">Neuron Focus</div>
                        <div class="product-paragraph"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias est totam quidem quia qui eveniet, deleniti iusto quae accusamus at delectus vel ex voluptate consectetur, ipsam tempora quam esse possimus et facilis. Aspernatur, repellendus pariatur! Saepe aperiam, vel doloremque, accusantium suscipit non deserunt aliquam vitae consectetur veritatis necessitatibus eveniet ipsa.</p></div>
                        <a class="buttom" href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DESC -->
    <div class="container-fluid">
        <div class="row product-content">
            <div class="col-2"></div>
            <div class="col-lg-5 col-md-12 padding-top">
                <div class="product-content-detail">
                    <h3>LOS COMPUESTOS DE ESTE PRODUCTO BUSCAN AYUDAR A:</h3>
                    <ul>
                        <li>Facilitar la atención.</li>
                        <li>La reducción de la niebla mental.</li>
                        <li>Promover altos niveles de concentración.</li>
                    </ul>
                    <h3>Nuestros ingredientes:</h3>
                    <ul>
                        <li><b>Extracto de guaraná</b> - Las semillas de guaraná contienen aproximadamente 4 veces la cantidad de cafeína de un grano de café. La cafeína es un estimulante directo suave en todos los niveles del SNC y también estimula el corazón y el sistema cardiovascular. Se indica para disminuir la fatiga, obesidad y somnolencia. *</li>
                        <li><b>L- tirosina</b> - Reduciría el estrés durante la exposición a estresores agudos que agotarían la noradrenalina. También se dice que puede ayudar para prevenir los déficits de memoria inducidos por el estrés. *
                        </li>
                        <li><b>Extracto de té verde (L- teanina)</b> - La L-fenilalanina es un aminoácido esencial, queriendo decir que la necesitamos de por vida y nuestros cuerpos no la pueden fabricar a partir de otros químicos. *</li>
                        <li><b>Extracto de té matcha</b> - Se dice que tiene propiedades antioxidantes. Los estudios dicen que podría mejorar la atención, tiempo de reacción y memoria. *</li>
                        <li><b>Colina bitartrato</b> - Se ha encontrado que la administración de colina es beneficiosa para la salud mental de no solo niños y adultos mayores, inclusive adultos jóvenes sanos, en particular con relación a la función cognitiva locomotora. Estudios recientes sugieren que la colina bitartrato tiene la habilidad de mejorar el funcionamiento de memoria en humanos adultos sanos. Grandes estudios de observación relacionan la ingesta de colina y los niveles en sangre con una mejor función cerebral, incluida una mejor memoria y procesamiento. *</li>
                        <li><b>Extracto de yerba mate</b> - Los estudios científicos dicen que puede aumentar la energía y mejorar la concentración. Al poseer cafeína, reduce la fatiga y mejora el rendimiento deportivo. *</li>
                        <li><b>Extracto de cacao</b> - Los estudios cientificos dicen que mejoraría el humor y tambien podria mejorar el rendimiento mental. *</li>
                        <li><b>Extracto de nuez de cola</b> - Estimulante del sistema nervioso central. Por su contenido de cafeína, disminuye la fatiga. Mejora el estado de alerta. *</li>
                        <li><b>Cafeína anhidra</b> - Su popularidad se debe a los efectos estimulantes leves (p. Ej., Mayor vigilia, mejor cognición y disminución de la fatiga) que la cafeína tiene sobre el sistema nervioso central (SNC) cuando se ingiere en cantidades moderadas (≤200 mg). El consumo de cantidades moderadas de cafeína aumenta la disponibilidad de energía, aumenta el gasto energético diario, disminuye la fatiga, disminuye la sensación de esfuerzo asociada con la actividad física,  mejora el rendimiento físico,  mejora el rendimiento cognitivo, aumenta el estado de alerta, la vigilia y la sensación de "energía", disminuye la fatiga mental, aumenta la capacidad para concentrarse y enfocar la atención, mejora la memoria a corto plazo,  aumenta la capacidad de resolver problemas que requieren razonamiento, mejora las capacidades de funcionamiento cognitivo y la coordinación neuromuscular, y en adultos no embarazadas que de otra manera están sanas es seguro. *</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-5 col-md-12 bc-gray padding-top">
                <div class="product-content-title">
                    <h3>Ingredientes</h3>
                </div>
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <div class="row">
                                        <div class="col-7 ingredient-name">Extracto de Guaraná (22% Cafeína)</div>
                                        <div class="col-5 ingredient-dosage">400 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                Es un suplemento botánico que contiene cafeína como mayor constituyente.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <div class="row">
                                        <div class="col-7 ingredient-name">L-Tirosina</div>
                                        <div class="col-5 ingredient-dosage">350 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                Es un aminoácido esencial que se puede encontrar en ciertos alimentos como carne, pescado, huevos, lácteos, nueces, avena y trigo.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <div class="row">
                                        <div class="col-7 ingredient-name">L-Teanina</div>
                                        <div class="col-5 ingredient-dosage">350 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                Es un aminoácido único no proteico que se encuentra naturalmente en las plantas de té verde y se considera un suplemento multifacético.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <div class="row">
                                        <div class="col-7 ingredient-name">Té matcha</div>
                                        <div class="col-5 ingredient-dosage">300 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                El té matcha es el polvo molido proveniente del cultivo de la planta Camellia sinensis. Se usa en Japón como bebida tradicional, también como suplemento dietario y como ingrediente de snacks.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <div class="row">
                                        <div class="col-9 ingredient-name">Colina bitartrato</div>
                                        <div class="col-3 ingredient-dosage">275 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                Es un nutriente esencial soluble en agua a menudo asociado con las vitaminas B.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    <div class="row">
                                        <div class="col-9 ingredient-name">Extracto de cacao (20% teobromina)</div>
                                        <div class="col-3 ingredient-dosage">100 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                            <div class="card-body">
                                El cacao es famoso en el mundo por su rol en la producción de chocolate, sin embargo, se ha descubierto que tiene componentes que pueden beneficiar a la salud.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingSeven">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    <div class="row">
                                        <div class="col-9 ingredient-name">Extracto de yerba mate (10% cafeína)</div>
                                        <div class="col-3 ingredient-dosage">100 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                            <div class="card-body">
                                La yerba mate es una bebida tradicional muy popular en Sudamérica.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingEight">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    <div class="row">
                                        <div class="col-9 ingredient-name">Extracto de Nuez de cola (10% cafeína)</div>
                                        <div class="col-3 ingredient-dosage">20 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                            <div class="card-body">
                                Es la fruta del árbol de cola. Se ocupa como estimulante en bebidas energéticas o gaseosas. También es masticado por trabajadores para disminuir fatiga y hambre.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-dosis">
                    <h3>Dosis:</h3>
                    <h6>Tomar entre <b>1 y 3 capsulas</b> diarias o como recomienda su médico.</h6>
                    <h3>Aclaración:</h3>
                    <h6>Mantener lejos del alcance de los niños. Las mujeres embarazadas o en período de lactancia y aquellos que se someten a tratamientos medicos deben consultar a un médico antes de tomar este suplemento.</h6>
                    <p class="aclaracion">* Las referidas declaraciones son en base a estudios e investigaciones médicas oficiales, para más información acceder a <a href="/research/neuronFocus">Estudios Cientificos</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- FIN DEL BODY -->

    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
</body>
</html>