<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/fuentes.css">
    <link rel="stylesheet" href="/stylesheets/producto.css">
</head>
<body class="body">

    <!-- BODY -->
    <div class="container-fluid" style="background-color: rgb(144,114,21); background: linear-gradient(90deg, rgba(144,114,21,1) 0%, rgba(209,166,32,1) 20%, rgba(233,186,38,1) 50%, rgba(209,166,32,1) 80%, rgba(144,114,21,1) 100%);">
        <div class="product">
            <div class="row">
                <div class="col-lg-5 col-md-12">
                    <div class="product-img">
                        <img src="/images/productos/Botellas/NeuronPlus.png" alt="NeuronPlus_Bottle">
                    </div>
                </div>
                <div class="col-lg-7 col-md-12">
                    <div class="product-desc">
                        <div class="product-format"><span class="product-price">$20.00</span> - 60 CAPSULAS</div>
                        <div class="product-name">Neuron Plus</div>
                        <div class="product-paragraph"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias est totam quidem quia qui eveniet, deleniti iusto quae accusamus at delectus vel ex voluptate consectetur, ipsam tempora quam esse possimus et facilis. Aspernatur, repellendus pariatur! Saepe aperiam, vel doloremque, accusantium suscipit non deserunt aliquam vitae consectetur veritatis necessitatibus eveniet ipsa.</p></div>
                        <a class="buttom" href="#">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- DESC -->
    <div class="container-fluid">
        <div class="row product-content">
            <div class="col-2"></div>
            <div class="col-lg-5 col-md-12 padding-top">
                <div class="product-content-detail">
                    <h3>LOS COMPUESTOS DE ESTE PRODUCTO BUSCAN AYUDAR A:</h3>
                    <ul>
                        <li>La estimulación de las funciones cognitivas.</li>
                        <li>La disminución de la fatiga.</li>
                        <li>Alcanzar altos niveles de energía, memoria y concentración.</li>
                    </ul>
                    <h3>Nuestros ingredientes:</h3>
                    <ul>
                        <li><b>Extracto de guaraná</b> - Las semillas de guaraná contienen aproximadamente 4 veces la cantidad de cafeína de un grano de café. La cafeína es un estimulante directo suave en todos los niveles del SNC y también estimula el corazón y el sistema cardiovascular. Se indica para disminuir la fatiga, obesidad y somnolencia. *</li>
                        <li><b>L-tirosina</b> - Reduciría el estrés durante la exposición a estresores agudos que agotarían la noradrenalina. También se dice que puede ayudar para prevenir los déficits de memoria inducidos por el estrés. *</li>
                        <li><b>Taurina</b> - Sus roles directos incluyen, mantener una hidratación adecuada y un equilibrio de electrolitos en sus células, formando sales biliares, que juegan un papel importante en la digestión. Regulación de minerales como el calcio dentro de sus células, apoyando la función general de su sistema nervioso central y ojos. Regula la salud del sistema inmunológico y la función antioxidante. Se ha demostrado que la taurina tiene varios beneficios para la salud, como un menor riesgo de enfermedad y un mejor rendimiento deportivo. *</li>
                        <li><b>L-teanina</b> - En general, varios estudios han demostrado que la administración de L-teanina mejoró los resultados de ansiedad y estrés, junto con mejoras en otras manifestaciones como la depresión y los síntomas psicopatológicos. Otros Estudios dicen que L-Teanina induce la relajación y podría reducir la presión sanguínea. Los estudios mencionan que puede ser beneficiosa para un buen dormir. *</li>
                        <li><b>Carnitina</b> - La suplementación con L-carnitina, particularmente en forma de suplementos orales, tuvo un efecto beneficioso sobre el perfil lipídico (Reduce colesterol malo, aumenta el bueno). Se dice en Estudios que tendría efectos benéficos sobre el control de glucosa en sangre y control de peso. También tendría un efecto positivo en pacientes que sufren de obesidad e insulino resistencia. Los estudios en humanos indican que la ingesta diaria de acetil-L-carnitina ayuda a revertir la disminución de la función cerebral asociada con el Alzheimer y otras enfermedades cerebrales. *</li>
                        <li><b>Cafeína</b> - El consumo de cantidades moderadas de cafeína aumenta la disponibilidad de energía, aumenta el gasto energético diario, disminuye la fatiga, disminuye la sensación de esfuerzo asociada con la actividad física,  mejora el rendimiento físico,  mejora el rendimiento cognitivo, aumenta el estado de alerta, la vigilia y la sensación de "energía", disminuye la fatiga mental, aumenta la capacidad para concentrarse y enfocar la atención, mejora la memoria a corto plazo,  aumenta la capacidad de resolver problemas que requieren razonamiento, mejora las capacidades de funcionamiento cognitivo y la coordinación neuromuscular, y en adultos no embarazadas que de otra manera están sanas es seguro. *</li>
                        <li><b>Lecitina de soja</b> - Los estudios sugieren que la administración diaria de lecitina de soja puede usarse como tratamiento complementario en la hipercolesterolemia. Se dice que podría ayudar con la salud cerebral al poseer en sus componentes precursores de neurotransmisores esenciales para el funcionamiento del sistema nervioso. La fosfatidilserina es una sustancia química importante con funciones generalizadas en el cuerpo. Es parte de la estructura celular y es clave en el mantenimiento de la función celular, especialmente en el cerebro. La Fosfatidilserina contribuye a la función cognitiva. *</li>
                        <li><b>Raíz de ginseng (Panax ginseng)</b> - Se ha usado como planta medicinal desde el siglo XVI. Se usa de manera terapéutica para tratar diversos trastornos cardiovasculares. El Ginseng podría ayudar a mejorar funciones cerebrales como la memoria, el comportamiento y el estado de ánimo . El Ginseng es utilizado como un tratamiento prometedor para la fatiga, tiene propiedades antioxidantes y antiinflamatorias beneficiosas. *</li>
                        <li><b>Colina bitartrato</b> - Se ha encontrado que la administración de colina es beneficiosa para la salud mental de no solo niños y adultos mayores, inclusive adultos jóvenes sanos, en particular con relación a la función cognitiva. Estudios recientes sugieren que la colina bitartrato tiene la habilidad de mejorar el funcionamiento de memoria en humanos adultos sanos. *</li>
                        <li><b>Niacina</b> - Su deficiencia produce pérdida de memoria, fatiga, depresión, dolor de cabeza, diarrea y problemas a la piel. El cerebro necesita niacina para generar energía y funcionar apropiadamente. Se ha usado desde 1950 para tratar el colesterol alto. Se dice que puede bajar los niveles del colesterol LDL (colesterol malo) y aumentar el colesterol HDL (colesterol bueno). *</li>
                        <li><b>Ácido pantoténico</b> - Esta vitamina es esencial para transformar la comida que ingerimos en energía. *</li>
                        <li><b>Piridoxina</b> - Tiene un importante rol en la mejora de ánimo al ser precursor de sustancias que generan bienestar. En algunos estudios se menciona que tendría un rol de mejorar la función cerebral. *</li>
                        <li><b>Tiamina</b> - La tiamina, también conocida como la vitamina B1, ayuda a convertir los alimentos que consume en energía que necesita. La tiamina es importante para el crecimiento, desarrollo y funcionamiento de las células del organismo. *</li>
                        <li><b>Riboflavina</b> - Su deficiencia es un riesgo ya que esta vitamina está involucrada en procesar los nutrientes. La riboflavina ayuda a convertir los alimentos en energía y también actúa como antioxidante. *</li>
                        <li><b>Ácido fólico</b> - El ácido fólico es fundamental para la formación de las células, ayuda a prevenir las anemias y a mantener la piel sana. Cumple funciones esenciales para el buen funcionamiento del cuerpo. *</li>
                        <li><b>Cianocobalamina</b> - Promueve la normal función del sistema nervioso.  La cianocobalamina ayuda a producir glóbulos rojos, ADN, ARN, energía y tejidos, y mantener sanas las células nerviosas. Dosis adecuadas son cruciales para un embarazo saludable. *</li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-5 col-md-12 bc-gray padding-top">
                <div class="product-content-title">
                    <h3>Ingredientes</h3>
                </div>
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <div class="row">
                                        <div class="col-7 ingredient-name">Extracto de Guaraná (22% Cafeína)</div>
                                        <div class="col-5 ingredient-dosage">400 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                Es un suplemento botánico que contiene cafeína como mayor constituyente.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <div class="row">
                                        <div class="col-7 ingredient-name">L-Tirosina</div>
                                        <div class="col-5 ingredient-dosage">400 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                Es un aminoácido esencial que se puede encontrar en ciertos alimentos como carne, pescado, huevos, lácteos, nueces, avena y trigo.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <div class="row">
                                        <div class="col-7 ingredient-name">Taurina</div>
                                        <div class="col-5 ingredient-dosage">400 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                La taurina es uno de los principales beta-aminoácidos intracelulares libres, es ampliamente distribuido en tejidos humanos y mamíferos. Su nombre proviene del latín Taurus que significa toro.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    <div class="row">
                                        <div class="col-7 ingredient-name">L-Teanina</div>
                                        <div class="col-5 ingredient-dosage">300 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                Es un aminoácido único no proteico que se encuentra naturalmente en las plantas de té verde y se considera un suplemento multifacético.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    <div class="row">
                                        <div class="col-7 ingredient-name">Carnitina</div>
                                        <div class="col-5 ingredient-dosage">300 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                Es una sustancia similar a las vitaminas y un aminoácido modificado sin proteínas que se produce principalmente en el hígado y riñón a partir de los aminoácidos lisina y metionina. La vitamina C, iones de Hierro y la niacina desempeñan un papel en su producción.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    <div class="row">
                                        <div class="col-7 ingredient-name">Extracto de yerba mate (10% Cafeína)</div>
                                        <div class="col-5 ingredient-dosage">100 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                            <div class="card-body">
                                La yerba mate es una bebida tradicional muy popular en Sudamérica.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingSeven">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    <div class="row">
                                        <div class="col-7 ingredient-name">Extracto de cacao (20% Teobromina)</div>
                                        <div class="col-5 ingredient-dosage">100 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                            <div class="card-body">
                                El cacao es famoso en el mundo por su rol en la producción de chocolate, sin embargo, se ha descubierto que tiene componentes que pueden beneficiar a la salud.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingEight">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    <div class="row">
                                        <div class="col-7 ingredient-name">Extracto de nuez de cola (10% Cafeína)</div>
                                        <div class="col-5 ingredient-dosage">20 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                            <div class="card-body">
                                La cafeína es el más conocido psicoestimulante en el mundo y tiene un efecto potente de desvelo, se encuentra principalmente en el café. Tiene efectos sobre el sueño y en el ciclo circadiano. Es el principal ingrediente activo en el café, té, chocolate caliente y otras bebidas. También es usada en preparaciones farmacológicas como adyuvante en combinaciones analgésicas. 
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingNine">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    <div class="row">
                                        <div class="col-7 ingredient-name">Magnesio L-Treonato</div>
                                        <div class="col-5 ingredient-dosage">100 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                            <div class="card-body">
                                ??
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTen">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                    <div class="row">
                                        <div class="col-7 ingredient-name">Cafeína anhidra</div>
                                        <div class="col-5 ingredient-dosage">150 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
                            <div class="card-body">
                                La cafeína es el más conocido psicoestimulante en el mundo y tiene un efecto potente de desvelo, se encuentra principalmente en el café. Tiene efectos sobre el sueño y en el ciclo circadiano. Es el principal ingrediente activo en el café, té, chocolate caliente y otras bebidas. También es usada en preparaciones farmacológicas como adyuvante en combinaciones analgésicas. 
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingEleven">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                    <div class="row">
                                        <div class="col-7 ingredient-name">Lecitina de soja</div>
                                        <div class="col-5 ingredient-dosage">100 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
                            <div class="card-body">
                                <b>40% Fosfatidilcolina, 40% Fosfatidilserina.</b> La lecitina es una mezcla compleja de fosfolípidos que componen las membranas celulares de la membrana lipídica. La lecitina de soja se encuentra en suplementos dietéticos, helados y productos lácteos, fórmulas para bebés, panes, margarina y otros alimentos preparados. La lecitina de soja presenta Fosfatidilcolina y Fosfatidilserina. Se hablará de los beneficios de la Fosfatidilserina.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTwelve">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                    <div class="row">
                                        <div class="col-7 ingredient-name">Colina bitartrato</div>
                                        <div class="col-5 ingredient-dosage">100 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionExample">
                            <div class="card-body">
                                Es un nutriente esencial soluble en agua a menudo asociado con las vitaminas B.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingThirdteen">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseThirdteen" aria-expanded="false" aria-controls="collapseThirdteen">
                                    <div class="row">
                                        <div class="col-7 ingredient-name">Niacina</div>
                                        <div class="col-5 ingredient-dosage">100 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThirdteen" class="collapse" aria-labelledby="headingThirdteen" data-parent="#accordionExample">
                            <div class="card-body">
                                La niacina, también conocida como vitamina B3, es un nutriente importante.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFourteen">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                                    <div class="row">
                                        <div class="col-7 ingredient-name">Ácido pantoténico</div>
                                        <div class="col-5 ingredient-dosage">100 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordionExample">
                            <div class="card-body">
                                También conocida como vitamina B5, es una de las más importantes vitaminas para el cuerpo humano.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFifteen">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                                    <div class="row">
                                        <div class="col-7 ingredient-name">Piridoxina</div>
                                        <div class="col-5 ingredient-dosage">100 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordionExample">
                            <div class="card-body">
                                La vitamina B6, también conocida como piridoxina, es una vitamina soluble en agua que su cuerpo necesita para varias funciones.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingSixteen">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                                    <div class="row">
                                        <div class="col-7 ingredient-name">Tiamina</div>
                                        <div class="col-5 ingredient-dosage">100 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordionExample">
                            <div class="card-body">
                                La Tiamina o vitamina B1 es un nutriente esencial que necesitamos para que el cuerpo funcione correctamente.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingSeventeen">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                                    <div class="row">
                                        <div class="col-7 ingredient-name">Riboflavina</div>
                                        <div class="col-5 ingredient-dosage">100 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseSeventeen" class="collapse" aria-labelledby="headingSeventeen" data-parent="#accordionExample">
                            <div class="card-body">
                                La Riboflavina, o también llamada vitamina B2 es un nutriente que se encuentra de manera natural en ciertos alimentos.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingEighteen">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
                                    <div class="row">
                                        <div class="col-7 ingredient-name">Ácido fólico</div>
                                        <div class="col-5 ingredient-dosage">100 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseEighteen" class="collapse" aria-labelledby="headingEighteen" data-parent="#accordionExample">
                            <div class="card-body">
                                El ácido fólico es una vitamina hidrosoluble sintética usada en suplementos y alimentos fortificados.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingNineteen">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">
                                    <div class="row">
                                        <div class="col-7 ingredient-name">Cianocobalamina</div>
                                        <div class="col-5 ingredient-dosage">100 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseNineteen" class="collapse" aria-labelledby="headingNineteen" data-parent="#accordionExample">
                            <div class="card-body">
                                La cianocobalamina o vitamina B12, es una vitamina esencial que el cuerpo necesita, pero no produce.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTwenty">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">
                                    <div class="row">
                                        <div class="col-7 ingredient-name">L- teanina Te Verde</div>
                                        <div class="col-5 ingredient-dosage">100 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwenty" class="collapse" aria-labelledby="headingTwenty" data-parent="#accordionExample">
                            <div class="card-body">
                                Es un aminoácido único no proteico que se encuentra naturalmente en las plantas de té verde y se considera un suplemento multifacético.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTwentyone">
                            <h5 class="mb-0">
                                <button class="btn collapsed btn-open" type="button" data-toggle="collapse" data-target="#collapseTwentyone" aria-expanded="false" aria-controls="collapseTwentyone">
                                    <div class="row">
                                        <div class="col-7 ingredient-name">Inositol</div>
                                        <div class="col-5 ingredient-dosage">100 mg</div>
                                    </div>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwentyone" class="collapse" aria-labelledby="headingTwentyone" data-parent="#accordionExample">
                            <div class="card-body">
                                Son polioles cíclicos que están presentes en todos los seres vivos y que participan en muchas vías metabólicas. Es conocido también como vitamina B8 (aunque no es considerado como tal).
                            </div>
                        </div>
                    </div>
                </div>


                <div class="product-dosis">
                    <h3>Dosis:</h3>
                    <h6>Tomar entre <b>1 y 3 capsulas</b> diarias o como recomienda su médico.</h6>
                    <h3>Aclaración:</h3>
                    <h6>Mantener lejos del alcance de los niños. Las mujeres embarazadas o en período de lactancia y aquellos que se someten a tratamientos medicos deben consultar a un médico antes de tomar este suplemento.</h6>
                    <p class="aclaracion">* Las referidas declaraciones son en base a estudios e investigaciones médicas oficiales, para más información acceder a <a href="/research/neuronPlus">Estudios Cientificos</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- FIN DEL BODY -->

    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
</body>
</html>