<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/productos.css">
    <link rel="stylesheet" href="/stylesheets/fuentes.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

    <!-- BODY -->
    <div class="products-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(/images/Banners/BannerProducto.jpg); height: 425px; background-size: cover; background-position: 25% 70%;">
        <div class="container">
            <!-- HEADER -->
            <div class="col-12 products-title">
                <h1>PRODUCTOS</h1>
            </div>
        </div>
    </div>

    <!-- Productos -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-lg-12 col-md-12 col-sm-12 products" style="background-color: rgb(144,114,21); background: linear-gradient(90deg, rgba(144,114,21,1) 0%, rgba(209,166,32,1) 20%, rgba(233,186,38,1) 50%, rgba(209,166,32,1) 80%, rgba(144,114,21,1) 100%);">
                <div class="product">
                    <div class="product-view">
                        <div class="product-image">
                            <a href="#"><img src="images/productos/Botellas/NeuronPlus.png" alt=""></a>
                        </div>
                    </div>
                    <div class="product-desc">
                        <h4 class="price">$20.00</h1>
                        <h1 class="title">NEURON PLUS</h1>
                        <div class="keyword" style="background-color: rgb(144,114,21)">ENERGY</div>
                        <div class="keyword" style="background-color: rgb(144,114,21)">FOCUS</div>
                        <div class="keyword" style="background-color: rgb(144,114,21)">MEMORY</div>
                        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ducimus odio doloribus. Qui ducimus odio</p>
                        <a class="buttom" href="/productos/NeuronPlus">Ver más</a>
                    </div>
                </div>
            </div>

            <!-- Neuron Focus -->
            <div class="col-lg-6 col-md-12 col-sm-12 products" style="background: linear-gradient(90deg, rgba(96,11,35,1) 0%, rgba(162,14,56,1) 25%, rgba(207,12,67,1) 100%)">
                <div class="product">
                    <div class="product-view">
                        <div class="product-image">
                            <a href="#"><img src="images/productos/Botellas/NeuronFocus.png" alt=""></a>
                        </div>
                    </div>
                    <div class="product-desc">
                        <h4 class="price">$20.00</h1>
                        <h1 class="title">NEURON FOCUS</h1>
                        <div class="keyword" style="background-color: rgb(96,11,35)">ENERGY</div>
                        <div class="keyword" style="background-color: rgb(96,11,35)">FOCUS</div>
                        <div class="keyword" style="background-color: rgb(96,11,35)">MENTAL CLARITY</div>
                        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ducimus odio doloribus. Qui ducimus odio</p>
                        <a class="buttom" href="/productos/NeuronFocus">Ver más</a>
                    </div>
                </div>
            </div>

            <!-- Neuron Memory -->
            <div class="col-lg-6 col-md-12 col-sm-12 products" style="background-color: rgb(9,84,46); background: linear-gradient(270deg, rgba(9,84,46,1) 0%, rgba(12,153,81,1) 25%, rgba(12,183,95,1) 100%)">
                <div class="product">
                    <div class="product-view">
                        <div class="product-image">
                            <a href="#"><img src="images/productos/Botellas/NeuronMemory.png" alt=""></a>
                        </div>
                    </div>
                    <div class="product-desc">
                        <h4 class="price">$20.00</h1>
                        <h1 class="title">NEURON MEMORY</h1>
                        <div class="keyword" style="background-color: rgb(9,84,46)">LEARNING</div>
                        <div class="keyword" style="background-color: rgb(9,84,46)">MEMORY</div>
                        <div class="keyword" style="background-color: rgb(9,84,46)">CREATIVITY</div>
                        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ducimus odio doloribus. Qui ducimus odio</p>
                        <a class="buttom" href="/productos/NeuronMemory">Ver más</a>
                    </div>
                </div>
            </div>

            <!-- Neuron Zen -->
            <div class="col-lg-6 col-md-12 col-sm-12 products" style="background-color: rgb(89,36,64); background: linear-gradient(90deg, rgba(89,36,64,1) 0%, rgba(181,74,130,1) 25%, rgba(226,91,162,1) 100%);">
                <div class="product">
                    <div class="product-view">
                        <div class="product-image">
                            <a href="#"><img src="images/productos/Botellas/NeuronZen.png" alt=""></a>
                        </div>
                    </div>
                    <div class="product-desc">
                        <h4 class="price">$20.00</h1>
                        <h1 class="title">NEURON ZEN</h1>
                        <div class="keyword" style="background-color:  rgb(52,23,62)">HUMOR</div>
                        <div class="keyword" style="background-color:  rgb(52,23,62)">RELAX</div>
                        <div class="keyword" style="background-color:  rgb(52,23,62)">ANTI-STRESS</div>
                        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ducimus odio doloribus. Qui ducimus odio</p>
                        <a class="buttom" href="/productos/NeuronZen">Ver más</a>
                    </div>
                </div>
            </div>

            <!-- Neuron Night -->
            <div class="col-lg-6 col-md-12 col-sm-12 products" style="background-color:  rgb(52,23,62); background: linear-gradient(270deg, rgba(52,23,62,1) 0%, rgba(108,46,131,1) 25%, rgba(143,60,175,1) 100%); ">
                <div class="product">
                    <div class="product-view">
                        <div class="product-image">
                            <a href="#"><img src="images/productos/Botellas/NeuronNight.png" alt=""></a>
                        </div>
                    </div>
                    <div class="product-desc">
                        <h4 class="price">$20.00</h1>
                        <h1 class="title">NEURON NIGHT</h1>
                        <div class="keyword" style="background-color:  rgb(52,23,62)">WELLNESS</div>
                        <div class="keyword" style="background-color:  rgb(52,23,62)">SLEEP</div>
                        <div class="keyword" style="background-color:  rgb(52,23,62)">RECOVERY</div>
                        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ducimus odio doloribus. Qui ducimus odio</p>
                        <a class="buttom" href="/productos/NeuronNight">Ver más</a>
                    </div>
                </div>
            </div>

            <!-- Neuron Brain Support -->
            <div class="col-lg-6 col-md-12 col-sm-12 products" style="background: rgb(0,103,156); background: linear-gradient(90deg, rgba(0,103,156,1) 0%, rgba(0,152,229,1) 20%, rgba(78,196,255,1) 100%); ">
                <div class="product">
                    <div class="product-view">
                        <div class="product-image">
                            <a href="#"><img src="images/productos/Botellas/NeuronBrainSupport.png" alt=""></a>
                        </div>
                    </div>
                    <div class="product-desc">
                        <h4 class="price">$20.00</h1>
                        <h1 class="bs-title">NEURON BRAIN SUPPORT</h1>
                        <div class="keyword" style="background-color: rgba(0,103,156,1)">BRAIN ENERGY</div>
                        <div class="keyword" style="background-color: rgba(0,103,156,1)">BRAIN HEALTH</div>
                        <div class="keyword" style="background-color: rgba(0,103,156,1)">BRAIN FUEL</div>
                        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ducimus odio doloribus. Qui ducimus odio</p>
                        <a class="buttom" href="/productos/NeuronBrainSupport">Ver más</a>
                    </div>
                </div>
            </div>

            <!-- PACKS -->
            <div class="col-lg-6 col-md-12 col-sm-12 products" style="background-color: rgb(50, 50, 50); ">
                <h1 style="color: white; text-align: center; padding-top: 40px; font-size: 60px;">Ahorra comprando en Packs!</h1>
                <!-- <div class="product">
                    <div class="product-view">
                        <div class="product-image">
                            <a href="#"><img src="/productos/Botellas/NeuronBrainSupport.png" alt=""></a>
                        </div>
                    </div>
                    <div class="product-desc">
                        <h4 class="price">$20.00</h1>
                        <h1 class="bs-title">NEURON BRAIN SUPPORT</h1>
                        <div class="keyword" style="background-color: rgba(0,103,156,1)">Salud</div>
                        <div class="keyword" style="background-color: rgba(0,103,156,1)">Effect Booster</div>
                        <div class="keyword" style="background-color: rgba(0,103,156,1)">Sinergia</div>
                        <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ducimus odio doloribus. Qui ducimus odio</p>
                        <a class="buttom" href="/productos/">Ver más</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>


    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
</body>
</html>